/*navigation bar properties are set in this class*/
/*-----------------------------------------------------------------------------------------*/
.ios_bar 
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 10;
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    height: 60px;
    border-width: 0;
    border-style: solid;
    border-top: 1px solid transparent;
    border-bottom: 4px solid #5bc0de;
    background-color: #e5e9e8;
   

    /* border-width: 1px will actually create 2 device pixels on retina */
    /* this nifty trick sets an actual 1px border on hi-res displays */
    background-size: 0; 
}

.ios_bar .title 
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    overflow: visible;
    margin: 0 10px;
    min-width: 30px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.1em;
    line-height: 49px;
    color: #333;
    font-family: 'SansProR';
    padding-top: -3px; 
}

.ios_bar .button 
{
    z-index: 1;
    padding: 0 8px;
    min-width: initial;
    min-height: 31px;
    font-size: 13px;
    font-weight: 400;
    line-height: 32px; 
    color: #33b5e5;
    padding-top: -3px;

}

.bar-color{
  background-color: #ddd;
}


.ios_bar .button.active{
 color: #1a9bcb;

}

/*Sub Header*/

.bar-subheader {
  background: #f5f5f5;
  border: none;
  display: block;
  height: 60px;
  margin-top: -20px;
  padding: 2px;
}


.bar .button.button-icon {

    font-size: 1em;
    padding: 0;
    margin: 0;
}




/*-----------------------------------------------------------------------------------------*/
/* Margins*/


/*top margin for ion-content without subheader*/
.content_margin
{
    margin-top:0.2px;
}


/*top margin for ion-content with subheader*/
.content_margin_subheading
{
    margin-top:48px;
    padding: 10px;
}

/*Top margin for "has subheader" Content*/
.has-subheader{
  top: 93px;
}

.bar-footer .button{
  color: #1a9bcb;
}


.content_margin_ios{
    margin-top: 6px;
}