<ion-view title="Home">
<ion-nav-buttons side="left">

<!-- Left Button (Menu)-->
<button menu-toggle="left" 
        class="button button-icon icon ion-navicon">
</button>
</ion-nav-buttons>

<!-- List of Quick Links -->
<ion-content class="has-header content_margin">

<div class="list">


  <!-- Default Link -->
  <a ng-show="showRelationship" 
     href="#app/customer/TOP_CUSTOMER" 
     class="item item-icon-left ">

    <i class="icon ion-person-stalker"></i>
    Top 5 Customers
  </a>



  <!-- Links for Sales Person -->
  <div>

    <a href="#app/transaction/LAST 5 ORDERS" 
       class="item item-icon-left" ng-show="showOrder">

      <i class="icon ion-stats-bars"></i>
      Last 5 Orders
    </a>

    <a href="#app/transaction/LAST 5 QUOTES" 
       class="item  item-icon-left" ng-show="showQuote">

      <i class="icon ion-ios7-browsers-outline"></i>
      Last 5 Quotes
    </a>

  </div>

   <!-- Links for Support Person -->
  <div ng-show="showCase" >

    <a href="#app/caseList/TOPCASE" class="item  item-icon-left">

      <i class="icon ion-briefcase"></i>
      Last 5 Cases
    </a>

    <a href="#app/caseList/OPENCASE" class="item  item-icon-left">

      <i class="icon ion-briefcase"></i>
      All Open Cases
    </a>
  </div>


  <!-- Links for Employee Centre -->
  <div>
   <a href="#app/TopExpense" class="item item-icon-left" ng-show="showExpense">

      <i class="icon ion-arrow-expand"></i>
      Last 5 Expenses
    </a>

    <a href="#app/Last5Timesheet" class="item item-icon-left" ng-show="showTimesheet">
      
      <i class="icon ion-android-alarm"></i>
      Last 5 Timesheets
    </a>
  </div>

</div>

    </ion-content>
  </ion-view>



