<!-- Login Page Start -->
<ion-view title="'FieldEdge for NetSuite'">
<ion-content has-header="true" padding="true">
<div class="" id="Login">

  <!-- FieldEdge Logo -->
  <p class="text-center">
    <img class="" src="img/logo.png">
  </p>

  <hr>

  <!-- Login Greetings -->
  <span class="text-center">

    <h4 class="">ACCOUNT LOGIN</h4>
    <p class="reduced-top-margin">
      Enter Username and Password to get access to our app
    </p>

  </span>

  <!-- login Input Fields -->
  <div class="list reduced-top-margin" id="">

    <div class="">
      
      <!-- Username -->
      <label class="item item-input ">

        <i class="icon ion-person"></i>
        <input type="text" 
               placeholder="Username" 
               ng-model="loginCredential.username">

      </label>

      <!-- Password --> 
      <label class="item item-input ">

        <i class="icon ion-unlocked"></i>
        <input type="password" 
               placeholder="Password" 
               ng-model="loginCredential.password">

      </label>

      <!-- Account Number -->  
      <label class="item item-input ">

        <i class="icon ion-information-circled"></i>
        <input type="text" 
               placeholder="Account Number" 
               ng-model="loginCredential.accountno">

      </label>

      <!-- Sign In Button -->
      <div class="">
        <button type="submit" 
                class="button button-block button-dark" 
                ng-click="checkLoginCredential()">

                Login 
        </button>

        <!-- Login Extra Features -->
        <span class="" id="forgotPassword">
          Forgot Password
        </span>

        <!-- Terms and Conditions, Legal Agreement -->
        <p class="text-right reduced-top-margin" id="">
          *Terms & Conditions <br>
          Legal Agreement
        </p>
      </div>
      
    </div>
  </div>

</div>

</ion-content>
</ion-view>
