<ion-side-menus>

<ion-pane ion-side-menu-content>

<ion-nav-bar class="ios_bar nav-title-slide-ios7">
</ion-nav-bar>

<ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>

</ion-pane>

<ion-side-menu side="left" is-enabled="sideMenuEnabled">
<span class="">
<header class="ios_bar bar-header" id="">
    <div class="MenuUsername">
        {{username}}
    </div>

</header>
</span>
<ion-content class="has-header content_margin">

<ion-list id="Menu">
    <ion-item nav-clear menu-close 
                        class="item-icon-left" 
                        href="#/app/homepage">

    <i class="icon ion-home"></i>
    <span class="menuLabelColor">
        HOME
    </span>

    </ion-item>


<div ng-show="showRelationship">

    <ion-item class="item-divider">
    RELATIONSHIP
    </ion-item>

    <ion-item nav-clear menu-close 
                        class="item-icon-left" 
                        href="#app/customer/LEAD">

    <i class="icon ion-person"></i>
    <span class="menuLabelColor">
        LEAD
    </span>
    </ion-item>

    <ion-item nav-clear menu-close 
                          class="item-icon-left" 
                          href="#app/customer/PROSPECT">

                    <i class="icon ion-person-add"></i>
                     <span class="menuLabelColor">
                        PROSPECT
                    </span>
                </ion-item>


    <ion-item nav-clear menu-close class="item-icon-left" href="#app/customer/CUSTOMER">

                    <i class="icon ion-person-stalker"></i>
                     <span class="menuLabelColor">
                        CUSTOMER
                    </span>
                </ion-item>
</div>

<div ng-show="showOpportunity || showQuote || showOrder">

   <ion-item class="item-divider">
                    TRANSACTION
    </ion-item>

 <ion-item nav-clear menu-close class="item-icon-left" href="#app/transaction/OPPORTUNITY" ng-show="showOpportunity">

                    <i class="icon ion-folder"></i>
                     <span class="menuLabelColor">
                        OPPORTUNITY
                    </span>

  </ion-item>


<ion-item nav-clear menu-close class="item-icon-left" href="#app/transaction/QUOTE" ng-show="showQuote">

                    <i class="icon ion-document-text"></i>
                    <span class="menuLabelColor">
                     QUOTE
   </ion-item>

<ion-item nav-clear menu-close class="item-icon-left" href="#app/transaction/ORDER" ng-show="showOrder">

                    <i class="icon ion-pricetags"></i>
                     <span class="menuLabelColor">
                        ORDER
                        <span>
   </ion-item>
</div>


<div ng-show="showCase">

       <ion-item class="item-divider">
                    SUPPORT MANAGEMENT
        </ion-item>

    
    <ion-item nav-clear menu-close class="item-icon-left" 
					             href="#app/caseList/CASE" >

                    <i class="icon ion-briefcase"></i>
                     <span class="menuLabelColor">
                        CASE
                        <span>
   </ion-item>

</div>

<div ng-show="showTimesheet || showExpense">
     <ion-item class="item-divider">
                    HR 
        </ion-item>
 <ion-item nav-clear menu-close class="item-icon-left" 
                        href="#app/Timesheet" ng-show="showTimesheet">

                    <i class="icon ion-android-alarm"></i>
                     <span class="menuLabelColor">
                        TIMESHEET
                        <span>
   </ion-item>
   
   <ion-item nav-clear menu-close class="item-icon-left" 
                        href="#app/Expense" ng-show="showExpense">

                    <i class="icon ion-arrow-expand"></i>
                     <span class="menuLabelColor">
                        EXPENSE
                        <span>
   </ion-item>
</div>

    <div ng-show="showCall">

        <ion-item class="item-divider">
                    ACTIVITY
        </ion-item>

    
        <ion-item nav-clear menu-close class="item-icon-left" 
                                 href="#app/CallLogs" >

                    <i class="icon ion-briefcase"></i>
                     <span class="menuLabelColor">
                        CALL LOGS
                        <span>
        </ion-item>

    </div>

  
   <ion-item class="item-icon-left" 
                        href=""
                        ng-click="logout()">

                    <i class="icon ion-power"></i>
                     <span class="menuLabelColor">
                        LOGOUT
                    <span>
   </ion-item>

           </ion-list>
        </ion-content>

    </ion-side-menu>
</ion-side-menus>
