<ion-view title="{{pageTitle}}" 
          class="background_color">

    <!-- Button Left (Menu) -->
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios7-arrow-left"
                ng-click="goHome()">
        </button>
    </ion-nav-buttons>

    <!-- Button Right (Add) -->
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios7-plus-empty"
                ng-click="goTo()">
        </button>
    </ion-nav-buttons>

    <!-- Actual Contents of Page -->
    <ion-content class="has-header" style="margin-top:16px;">
        <div>
            <ion-radio ng-repeat="item in rolesList">
                {{item.name}}
            </ion-radio>
        </div>
    </ion-content>
</ion-view>