<ion-view   title="{{pageTitle}}"
            class="background_color">

<ion-nav-buttons side="left">

<button ng-if="pageTitle == 'CASE'" menu-toggle="left"
        class="button button-icon icon ion-navicon">
</button>
<button ng-if="pageTitle == 'LAST 5 CASES' || pageTitle == 'All OPEN CASES'" ng-click="goHome()"
        class="button button-icon icon ion-ios7-arrow-left">
</button>
</ion-nav-buttons>

<ion-nav-buttons side="right">

<button ng-if="pageTitle == 'CASE'" class="button button-icon icon ion-ios7-plus-empty" 
        ng-click="goTo()" ng-show="addCase">
    </button>
</ion-nav-buttons>


<!-- Subheader -->
<div class="bar bar-subheaderr item-input-inset">
  <div class="list">
    <label id="search-box" class="bar bar-header item-input-inset search-box-margin">
        <div class="item-input-wrapper" class="">
          <i class="icon ion-android-search placeholder-icon"></i>
          <input type="search" placeholder="Search" ng-model="searchString" >
          <button class="button button-clear button-calm" ng-show="searchString" ng-click="clearSearch()"> X
            </button>
        </div>      
    </label>
  </div>
</div
  


</div>

<ion-content class="has-header has-subheader">

<div id="" class="list">
        <div ng-if="newflag == 'true' && pageTitle != 'LAST 5 CASES'" id="searchButton">
          <span class="Result_Message padding">No results found.Continue  </span>
          <button class="button button-clear button-positive searchButton" ng-click="mySearchList()">Search</button>
          <span class="Result_Message"> on server.</span>
        </div>

        <div class="item" ng-if="newflag == 'true' && pageTitle == 'LAST 5 CASES'">{{message}}
        </div>
      
      <div ng-if="messageFlag == 'true'" class="error">{{message}}
      </div>

      <div ng-repeat="cust in valueArray | filter:searchString">
        <a class="item item-icon-left item-icon-right" 
         ng-click="goto({{cust.id}})">
         <i class="icon ion-briefcase"></i>
         <div>
             <h2>{{cust.Subject}}</h2>
             <p>
                <span class="text_overflow"> {{cust.Company}}</span> <br>
                <span class="text_overflow">Status &nbsp;:&nbsp; {{cust.Status}}</span>
             </p>
        </div>
    <i class="icon ion-ios7-arrow-right chevron_color"></i>
        </a>
        </div>

        <div style="margin-top:10px;" class="card"
            ng-show="allData.length && counter == 0 && newflag != 'true' && messageFlag != 'true'">
    <button ngm-touch="loadNextData1()" style="margin-top:0px;margin-bottom:0px;" class="button button-block button-calm">
      <i class="icon ion-refresh"></i>
      Load More
    </button>
    </div>

    <div id="caseList">
    <div ng-show="showMessage && counter == 0 && newflag != 'true'" class="item item-icon-left item-assertive">
      <i class="icon"></i>
      No More Records
    </div>
  </div>
  </div>

</ion-content>
<!-- Footer -->
<ion-footer-bar class="bar-color">

<!-- Button Left (Sort)-->
<button class="button button-clear icon icon-sort-name-up" 
          ng-click="showSortList()">
</button>

<!-- Button Right (Refresh)-->
<button class="button button-clear icon ion-ios7-refresh-empty" 
        ng-click="init()">
</button>

</ion-footer-bar>
</ion-view>