<ion-view   title="{{myTitle}}"
            class="background_color">

<ion-nav-buttons side="left">

<button menu-toggle="left"
        class="button button-icon icon ion-navicon-round">
</button>
</ion-nav-buttons>

<ion-nav-buttons side="right">

<button class="button button-icon icon ion-plus-round" 
        ng-click="goTo()">
    </button>
</ion-nav-buttons>


<!-- Subheader -->
<div class="bar bar-subheader">

    <!-- Search Box -->
    <label class="item item-input">
        
        <input type="text" 
               placeholder="Search"
               ng-model="searchString"
               class="searchBox">
    </label>

</div>

<ion-content class="has-header has-subheader">

<div id="MessageList" class="list" >

         <div ng-if="newflag == 'true'" ng-click="mySearchList()" ng-style="customStyle.style">{{message}}</div>
         <div ng-repeat="cust in valueArray | filter:searchString | orderBy : orderString">
        <a class="item item-icon-left" 
         ng-click="goto({{cust.id}})">
         <i class="icon ion-briefcase"></i>

         <table ngm-touch="loadNextData($index)">
            <tr>
                <td class="caseTitle">{{cust.Subject}} </td>
                <td></td>
                <td></td>
            </tr>
            <tr>    
                <td class="detailsTitle">Case Number</td>
                <td>&nbsp;:&nbsp;</td>
                <td class="detailsinfo">{{cust['Case Number']}}</td>
            </tr>  

            <tr>    
                <td class="detailsTitle">Company</td>
                <td>&nbsp;:&nbsp;</td>
                <td class="detailsinfo">{{cust.Company}}</td>
            </tr> 

            <tr>    
                <td class="detailsTitle">Status</td>
                <td>&nbsp;:&nbsp;</td>
                <td class="detailsinfo">{{cust.Status}}</td>
            </tr>   

    </table>
        </a>
        </div>
    </div>

</ion-content>
<!-- Footer -->
<ion-footer-bar class="bar-color">

<!-- Button Left (Sort)-->
<button class="button button-clear icon ion-android-sort" 
        ng-click="show()">
</button>

<!-- Button Right (Refresh)-->
<button class="button button-clear icon ion-refresh" 
        ng-click="init()">
</button>

</ion-footer-bar>
</ion-view>