<ion-view 	title="{{pageTitle}}"
			class="background_color">

<ion-nav-buttons side="left">

<button class="button button-icon icon ion-ios7-arrow-left" 
		ng-click="goBack()">
</button>
</ion-nav-buttons>

<ion-nav-buttons side="right">

<button class="button button-icon icon ion-ios7-compose-outline" 
		ng-click="goToEdit()" ng-show="editCase">
</button>
</ion-nav-buttons>

<ion-content class="has-header subpadding content_margin_ios" ng-show="showPage">

 <div class="list" id="details">
 	

	<div class="item item-divider detailsLabel">
		Incident Information
	</div>
                <table class="item"> 
                    <tr ng-if="$index<6" 
                    	ng-repeat="item in value">

                        <td class="detailsTitle text_overflow">{{item.label}}</td>
                        <td>&nbsp;:&nbsp;</td>
                        <td class="detailsinfo">{{item.gotValue}}</td>
                    </tr>
                </table>



	<div class="item item-divider detailsLabel">
		Primary Information
	</div>

                <table class="item">
                    <tr>
                    <td class="detailsTitle">Case Number</td>
                        <td>&nbsp;:&nbsp;</td>
                        <td class="detailsinfo text_overflow">{{caseId}}</td>
                    </tr>
                    <tr ng-if="$index>=6" 
                    	ng-repeat="item in value">

                        <td class="detailsTitle">{{item.label}}</td>
                        <td>&nbsp;:&nbsp;</td>
                        <td class="detailsinfo text_overflow">{{item.gotValue}}</td>
                    </tr>
                </table>


 <a class="item item-icon-left item-icon-right detailsButtoncolors"
 	ng-click="goto('ADDRESS')">
                <span class="">
                <i class="icon ion-email"></i>
                MESSAGES
                <i class="icon ion-ios7-arrow-right "></i>
                </span>
            </a>
	</div>

<br><br>
</ion-content>
</ion-view>