<ion-view 	title="{{myTitle}}"
			class="background_color">

<ion-nav-buttons side="left">

<button class="button button-clear" 
ng-click="goTo()">
Cancel
</button>
</ion-nav-buttons>
<ion-nav-buttons side="right">

<button  class="button button-clear"
ng-click="saveData()">
Save
</button>
</ion-nav-buttons>

<ion-content class="has-header content_margin" >
 <ion-scroll direction="y">
<div class="list" id="Form">


	<label class="item item-input item-icon-right">
    <span class="input-label item-text-wrap"> <span class="small_font"> &nbsp;&nbsp;</span> Author </span>
    <input class="col col-75" 
            type="text"
            ng-model="message.authorvalue" 
			placeholder="Select Author" 
			ng-click="fetchAuthorList()"  readonly>
    <i class="icon ion-android-dropdown"></i>
  </label>

   <label class="item item-input">
    <span class="input-label item-text-wrap"><span class="small_font"> &#42;</span> Subject </span>  </span>
    <input  type="text" 
            ng-model="message.subject" 
			placeholder="Subject"
            class="col col-75">
  </label>

			<div class="item item-divider detailsLabel">
				Primary Information
			</div>
			
	<label class="item item-input">
    <span class="input-label item-text-wrap"><span class="small_font"> &nbsp;&nbsp;</span> Date </span> 
    <input  type="text" 
            ng-model="message.messagedate"
			placeholder="Select Date" 
			ng-click="opendateModal()" 
            class="col col-75">
  </label>

   <label class="item item-input">
    <span class="input-label item-text-wrap"><span class="small_font"> &nbsp;&nbsp;</span> Message </span>  
    <input  type="text" 
            ng-model="message.message" 
			placeholder="Message"
            class="col col-75">
  </label>
</div>	 

				
<script id="Author.html" type="text/ng-template">
<div class="modal background_color" id="">

  <ion-header-bar class="bar bar-header ios_bar">
    <h1 class="title">Select Author</h1>
    <button class="button button-clear" ng-click="closeAuthorWindow()">Cancel</button>
  </ion-header-bar>

         <span id="modalWindow">
          <div class="bar bar-header item-input-inset top_margin_template">
            <label class="item-input-wrapper">
              <i class="icon ion-android-search placeholder-icon"></i>
              <input type="search" placeholder="Search"  ng-model="searchString">
            </label>
            <button class="button button-clear button-calm" ng-show="searchString" ng-click="clearSearch()" id="templateClearButton">
              X
            </button>
          </div></span>
          
  <ion-content class="has-header has-subheader reduced_top_margin" >  
      <ion-radio 	ng-repeat="author in AuthorList"
					ng-click="setAuthorName({{author}})"
					ng-value="author.value">
		{{author.value}} 
      </ion-radio>

  </ion-content>
  </div>
</script>

				
   <script id="datemodal.html" type="text/ng-template">
            <div class="modal background_color">
                <header class="bar bar-header ios_bar">
					  <h1 class="title">Date</h1>
					  <button class="button button-clear" ng-click="cancel()">Cancel</button>
                </header>
                <ion-content has-header="true">
                  <br><br>
                   
                    <div class="padding">
						<div pickadate ng-model="myDate"></div>
                    </div>
                    
                     <button class="button button-full button_background" ng-click="closedateModal(myDate)">Choose</button>
                   
                </ion-content>
            </div>
         </script>
		</ion-scroll>
      <br><br><br><br>  <br><br><br><br>		
			</ion-content>
		</ion-view>