<ion-view title="{{myTitle}}">
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="goTo()">Cancel</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="saveData()">Save</button>
    </ion-nav-buttons>
	
    <ion-content class="has-header content_margin content_margin_ios">
    <ion-scroll direction="y">
			<div class="list" id="Form">

	<div class="item item-divider detailsLabel">
		Primary Information
	</div>

	<label class="item item-input">
    <span class="input-label item-text-wrap">  <span class="small_font"> &#42;</span>Subject</span>  
    <input  type="text" 
            ng-model="case.title" 
			placeholder="Subject"
            class="col col-75">
  	</label>

  	<label class="item item-input item-icon-right">
    <span class="input-label item-text-wrap"><span class="small_font"> &#42;</span> Company </span>
    <input class="col col-75" 
            type="text"
            ng-model="case.companyValue"
			placeholder="Company" 
			ng-click="openCompanyWindow()"     readonly>
    <i class="icon ion-android-dropdown"></i>
  </label>

  <label class="item item-input">
    <span class="input-label item-text-wrap">  <span class="small_font"> &nbsp;&nbsp;</span>Email</span>  
    <input  type="text" 
            ng-model="case.email" 
			placeholder="Email"
            class="col col-75">
  </label>

  <div class="item item-divider detailsLabel">
			Incident Information
  </div> 

  <label class="item item-input">
    <span class="input-label item-text-wrap"> <span class="small_font"> &#42;</span>Incident Date</span>
    <input  type="text" 
            ng-model="case.startdate"
			placeholder="Incident Date" 
			ng-click="opendateModal()" 
            class="col col-75" readonly>
  </label>

  <label class="item item-input item-icon-right">
    <span class="input-label item-text-wrap"><span class="small_font"> &#42;</span> Status </span>
    <input class="col col-75" 
            type="text"
            ng-model="case.statusvalue"
			placeholder="Status" 
			ng-click="openStatusWindow()"      readonly>
    <i class="icon ion-android-dropdown"></i>
  </label>

  <label class="item item-input item-icon-right">
    <span class="input-label item-text-wrap"><span class="small_font"> &nbsp;&nbsp;</span> Assigned To </span>
    <input class="col col-75" 
            type="text"
            ng-model="case.assignedToValue"
			placeholder="Assigned To" 
			ng-click="openAssignedToWindow()"       readonly>
    <i class="icon ion-android-dropdown"></i>
  </label>

  <label class="item item-input item-icon-right">
    <span class="input-label item-text-wrap"><span class="small_font"> &nbsp;&nbsp;</span> Type </span>
    <input class="col col-75" 
            type="text"
            ng-model="case.typeValue"
			placeholder="Category" 
			ng-click="openTypeWindow()"        readonly>
    <i class="icon ion-android-dropdown"></i>
  </label>


  <label class="item item-input item-icon-right">
    <span class="input-label item-text-wrap"><span class="small_font"> &nbsp;&nbsp;</span> Priority </span>
    <input class="col col-75" 
            type="text"
            ng-model="case.priorityValue"
			placeholder="Priority" 
			ng-click="openPriorityWindow()"        readonly>
    <i class="icon ion-android-dropdown"></i>
  </label>

  <label class="item item-input item-icon-right">
    <span class="input-label item-text-wrap"><span class="small_font"> &nbsp;&nbsp;</span> Item </span>
    <input class="col col-75" 
            type="text"
           ng-model="case.itemValue"
			placeholder="Item" 
			ng-click="openItemWindow()"        readonly>
    <i class="icon ion-android-dropdown"></i>
  </label>
 </div>
            
       
  
  <script id="status.html" type="text/ng-template">
<div class="modal background_color" id="" ng-controller="ModelWindowController">

  <ion-header-bar class="bar bar-header ios_bar">
    <h1 class="title">Select Status</h1>
    <button class="button button-clear" ng-click="closeStatusWindow()">Cancel</button>
  </ion-header-bar>

          <span id="modalWindow">
          <div class="bar bar-header item-input-inset top_margin_template">
            <label class="item-input-wrapper">
              <i class="icon ion-android-search placeholder-icon"></i>
              <input type="search" placeholder="Search"  ng-model="searchString">
            </label>
            <button class="button button-clear button-calm" ng-show="searchString" ng-click="clearSearch()" id="templateClearButton">
              X
            </button>
          </div></span>

  <ion-content class="has-header has-subheader reduced_top_margin" >  
      <ion-radio  	ng-repeat="status in statusList | filter:searchString"
					ng-click="statusSelected({{status}})"
					ng-value="status.value">
	 {{status.value}} 
	</ion-radio>

  </ion-content>
  </div>
</script>



<script id="assignedTo.html" type="text/ng-template">
<div class="modal background_color" id="" ng-controller="ModelWindowController">

  <ion-header-bar class="bar bar-header ios_bar">
    <h1 class="title">Select Assigned To</h1>
    <button class="button button-clear" ng-click="closeAssignedToWindow()">Cancel</button>
  </ion-header-bar>

          <span id="modalWindow">
          <div class="bar bar-header item-input-inset top_margin_template">
            <label class="item-input-wrapper">
              <i class="icon ion-android-search placeholder-icon"></i>
              <input type="search" placeholder="Search"  ng-model="searchString">
            </label>
            <button class="button button-clear button-calm" ng-show="searchString" ng-click="clearSearch()" id="templateClearButton">
              X
            </button>
          </div></span>

	 <ion-radio  ng-repeat="assignedTo in assignedToList | filter:searchString"
				 ng-click="assignedToSelected({{assignedTo}})"
				 ng-value="assignedTo.value">
	  {{assignedTo.value}} 
	</ion-radio>

  </ion-content>
  </div>
</script>


<script id="type.html" type="text/ng-template">
<div class="modal background_color" id="" ng-controller="ModelWindowController">

  <ion-header-bar class="bar bar-header ios_bar">
    <h1 class="title">Select type</h1>
    <button class="button button-clear" ng-click="closetypeWindow()">Cancel</button>
  </ion-header-bar>

          <span id="modalWindow">
          <div class="bar bar-header item-input-inset top_margin_template">
            <label class="item-input-wrapper">
              <i class="icon ion-android-search placeholder-icon"></i>
              <input type="search" placeholder="Search"  ng-model="searchString">
            </label>
            <button class="button button-clear button-calm" ng-show="searchString" ng-click="clearSearch()" id="templateClearButton">
              X
            </button>
          </div></span>

  <ion-content class="has-header has-subheader reduced_top_margin" >  
      <ion-radio 	ng-repeat="type in typeList | filter:searchString"
					ng-click="typeSelected({{type}})"
					ng-value="type.value">
		{{type.value}} 
      </ion-radio>

  </ion-content>
  </div>
</script>

<script id="priority.html" type="text/ng-template">
<div class="modal background_color" id="" ng-controller="ModelWindowController">

  <ion-header-bar class="bar bar-header ios_bar">
    <h1 class="title">Select priority</h1>
    <button class="button button-clear" ng-click="closePriorityWindow()">Cancel</button>
  </ion-header-bar>

          <span id="modalWindow">
          <div class="bar bar-header item-input-inset top_margin_template">
            <label class="item-input-wrapper">
              <i class="icon ion-android-search placeholder-icon"></i>
              <input type="search" placeholder="Search"  ng-model="searchString">
            </label>
            <button class="button button-clear button-calm" ng-show="searchString" ng-click="clearSearch()" id="templateClearButton">
              X
            </button>
          </div></span>

  <ion-content class="has-header has-subheader reduced_top_margin" >  
      <ion-radio 	ng-repeat="priority in priorityList | filter:searchString"
					ng-click="prioritySelected({{priority}})"
					ng-value="priority.value">
	{{priority.value}} 
      </ion-radio>

  </ion-content>
  </div>
</script>


<script id="item.html" type="text/ng-template">
<div class="modal background_color" id="" ng-controller="ModelWindowController">

  <ion-header-bar class="bar bar-header ios_bar">
    <h1 class="title">Select Item</h1>
    <button class="button button-clear" ng-click="closeItemWindow()">Cancel</button>
  </ion-header-bar>

          <span id="modalWindow">
          <div class="bar bar-header item-input-inset top_margin_template">
            <label class="item-input-wrapper">
              <i class="icon ion-android-search placeholder-icon"></i>
              <input type="search" placeholder="Search"  ng-model="searchString">
            </label>
            <button class="button button-clear button-calm" ng-show="searchString" ng-click="clearSearch()" id="templateClearButton">
              X
            </button>
          </div></span>

  <ion-content class="has-header has-subheader reduced_top_margin" >  
      <ion-radio 	 ng-repeat="item in itemList | filter:searchString"
					ng-click="itemSelected({{item}})"
					ng-value="item.value">
	{{item.value}} 
      </ion-radio>

  </ion-content>
  </div>
</script>


<script id="company.html" type="text/ng-template">
<div class="modal background_color" id="" ng-controller="ModelWindowController">

  <ion-header-bar class="bar bar-header ios_bar">
    <h1 class="title">Select Company</h1>
    <button class="button button-clear" ng-click="closeCompanyWindow()">Cancel</button>
  </ion-header-bar>

          <span id="modalWindow">
          <div class="bar bar-header item-input-inset top_margin_template">
            <label class="item-input-wrapper">
              <i class="icon ion-android-search placeholder-icon"></i>
              <input type="search" placeholder="Search"  ng-model="searchString">
            </label>
            <button class="button button-clear button-calm" ng-show="searchString" ng-click="clearSearch()" id="templateClearButton">
              X
            </button>
          </div></span>

  <ion-content class="has-header has-subheader reduced_top_margin" >  
      <ion-radio 	 ng-repeat="company in companyList | filter:searchString"
					ng-click="companySelected({{company}})"
					ng-value="company.value">
	{{company.value}}
      </ion-radio>

  </ion-content>
  </div>
</script>

<script id="datemodal.html" type="text/ng-template">
	<div class="modal background_color">
		<header class="bar bar-header ios_bar">
			<h1 class="title">Date</h1>
			<button class="button button-clear" ng-click="cancel()">Cancel</button>
		</header>

		<ion-content has-header="true">
			<br><br>
			<div class="padding">
				<div pickadate ng-model="myDate"></div>
			</div>
			<button class="button button-full button_background" ng-click="closedateModal(myDate)">Choose</button>
			</ion-content>
			</div>
</script>	
			</ion-scroll>
 
      <br><br><br><br> <br><br><br><br> <br><br><br><br> <br><br><br><br> <br><br><br><br>
    </ion-content>
</ion-view>