<ion-view 	title="{{pageTitle}}"
			class="background_color">

	<ion-nav-buttons side="left">

        <button class="button button-icon icon ion-ios7-arrow-left" 
        		ng-click="goBack()">
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios7-compose-outline" 
        		ng-click="goToEdit()" ng-show="editCase">
        </button>
    </ion-nav-buttons>

    <ion-content class="has-header subpadding" ng-show="showPage">

    <div class="list" id="details">
    <div class="item">
        <!-- Icon Image -->
        
        <!-- Customer Name -->
        <h2>Message :</h2>
        <!-- Customer Status -->
        	 <p ng-repeat="item in primaryInfoData" ng-if="item.label !='Date' ">
               <span class="item-text-wrap" >{{item.value}}</span>
             </p>
        
       
    </div>

    <!-- Information -->
    <div    class="item  item-text-wrap" 
            style="padding-left:10px;">
    <table>
        <tr  ng-repeat="item in headerData">
            <!-- details Title label -->
            <td class="detailsTitle">{{item.label}}</td>
            <!-- Indent ( : ) -->
            <td>&nbsp;:&nbsp;</td>
            <!-- Details Information -->
            <td class="detailsinfo">{{item.value}}</td>
        </tr>
    </table>
</div>


      <br><br>
    </ion-content>
</ion-view>