<ion-view   id="scrollArea" 
            ng-click="gotoTop()" 
            title="{{myTitle}}"
            class="background_color">

	<ion-nav-buttons side="left">

        <button class="button button-icon icon ion-ios7-arrow-left" 
                ng-click="goBack()">
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">

        <button class="button button-icon icon ion-ios7-plus-empty" 
                ng-click="goToAdd()" ng-show="addCase">
        </button>
    </ion-nav-buttons>

<div class="bar bar-subheaderr item-input-inset">
  <div class="list">
    <label id="search-box" class="bar bar-header item-input-inset search-box-margin">
        <div class="item-input-wrapper" class="">
          <i class="icon ion-android-search placeholder-icon"></i>
          <input type="search" placeholder="Search" ng-model="searchString" >
          <button class="button button-clear button-calm" ng-show="searchString" ng-click="clearSearch()"> X
            </button>
        </div>      
    </label>
  </div>
</div>

<ion-content class="has-header has-subheader">

<div id="MessageList" class="list" >

        <div ng-repeat="item in MessageList | filter:searchString | orderBy : orderString" class="reduced_margin">
        <a class="item item-icon-right" 
         ng-click="goto(item.id)">

         <table ngm-touch="loadNextData($index)">
            <tr>    
                <td class="detailsTitle">Message</td>
                <td>&nbsp;:&nbsp;</td>
                <td class="detailsinfo">{{item.Message}}</td>
            </tr>  

            <tr>    
                <td class="detailsTitle">Author</td>
                <td>&nbsp;:&nbsp;</td>
                <td class="detailsinfo">{{item.Author}}</td>
            </tr> 

            <tr>    
                <td class="detailsTitle">Date</td>
                <td>&nbsp;:&nbsp;</td>
                <td class="detailsinfo">{{item.Date}}</td>
            </tr>   

    </table>
    <i class="icon ion-ios7-arrow-right chevron_color"></i>
        </a>
        </div>
    </div>
      

   

       
      <br><br><br><br>
    </ion-content>
    <!-- Footer -->
<ion-footer-bar class="bar-color">



<!-- Button Right (Refresh)-->
<button class="single_footer_button button button-clear icon ion-ios7-refresh-empty" 
        ng-click="init()">
</button>

</ion-footer-bar>

</ion-view>