<ion-view title="{{pageTitle}}"
          class="background_color">

<!-- Button Left -->
<ion-nav-buttons side="left">
  <button class="button button-icon icon ion-ios7-arrow-left" 
          ng-click="goBack()">
  </button>
</ion-nav-buttons>

<!-- Button Right -->
<ion-nav-buttons side="right">
  <button class="button button-icon icon ion-ios7-plus-empty" 
          ng-click="goToAdd()" ng-show="addRelationship">
  </button>
</ion-nav-buttons>


<div class="bar bar-subheaderr item-input-inset">
  <div class="list">
    <label id="search-box" class="bar bar-header item-input-inset search-box-margin">
        <div class="item-input-wrapper" class="">
          <i class="icon ion-android-search placeholder-icon"></i>
          <input type="search" placeholder="Search" ng-model="searchString" >
          <button class="button button-clear button-calm" ng-show="searchString" ng-click="clearSearch()"> X
            </button>
        </div>      
    </label>
  </div>
</div>

<!-- Actual Contents of Page -->
<ion-content class="has-header has-subheader">

  <!-- Customer info Section -->
      <div class="item item-thumbnail-left border_color">
        <!-- Icon Image -->
        <img src="img/Flaticon_33308.png">
        <!-- Customer Name -->
        <h2>{{customerData.custName}}</h2>
        <!-- Customer Status -->
        <p>Status: {{customerData.custStatus}}</p>
    </div>

    <div id="caseList">
    <div class="item item-assertive" ng-if="newflag == 'true'">{{message}}
      </div>
    </div>
     <span class="Result_Message padding" ng-if="showMessage">No Records Found.
    </span>

  <div class="list content_margin content_margin_ios">
    <!-- Address List -->
    <div  ng-repeat="item in valueArray | filter: searchString" 
          ng-if="pageTitle == 'ADDRESS LIST'">
      <a  class="item border_color item-icon-left item-icon-right" 
          ng-click="goto({{item.id}})">
      <i  class="icon ion-location"></i>
      <h2> {{item.addressee}}</h2>
          <p>
          <span class="text_overflow detailsinfo reduced-top-margin">
          {{item.formulatext}}<br>
          {{item.city}} <br>
          {{item.state}} </span> </p>
      <i class="icon ion-ios7-arrow-right chevron_color"></i>  
      </a>
    </div>
  <!-- Contact List -->
  <div  ng-repeat="cust in contactListArray | filter: searchString" 
        ng-if="pageTitle == 'CONTACT LIST'">
    <a  class="item border_color item-icon-left item-icon-right" 
        ng-click="goto({{cust.id}})">
    <i  class="icon ion-person-stalker"></i>
    <h2> {{cust.title}}</h2>
        <p><span class="text_overflow detailsinfo">{{cust.entityid}}<br>
        <span class="text_overflow reduced-top-margin detailsinfo">{{cust.email}}</p>
 <i class="icon ion-ios7-arrow-right chevron_color"></i>  

    </a>
  </div>
  </div>
<br><br><br><br>
</ion-content>

<!-- Footer Section -->
<div class="bar bar-footer bar-color smallBar">
  <button style="margin-top:0px;" 
          class="single_footer_button button button-clear icon ion-ios7-refresh-empty" 
          ng-click="init()">
  </button>

</div>
</ion-view>