<ion-view title="{{pageTitle}}" 
          class="background_color">

<!-- Button Left (Back) -->
<ion-nav-buttons side="left">
<button class="button button-icon icon ion-ios7-arrow-left" ng-click="goBack()">
</button>
</ion-nav-buttons>


<!-- Button Right (Edit) -->
<ion-nav-buttons side="right">
<button class="button button-icon icon ion-ios7-compose-outline" 
        ng-click="goToEdit()" ng-show="editRelationship">
</button>
</ion-nav-buttons>

<ion-content class="has-header subpadding" ng-show="showPage">

<!-- Customer Heading Section --> 
<div class="list" id="details">
    <div class="item item-thumbnail-left border_color">

        <!-- Icon Image -->
        <img src="img/Flaticon_33308.png">

        <!-- Customer Name -->
        <h2>{{customerdata.custName}}</h2>

        <!-- Customer Status -->
        <p class="">Status: {{customerdata.custStatus}}</p>
    </div>


  <!-- Section Divider-->
  <div class="item border_color item-divider detailsLabel">
      Primary Information
  </div>
   
  <!-- Information -->        
  <div  class="item border_color" 
        style="padding-left:10px;" 
        ng-if="pageTitle == 'ADDRESS DETAILS'">
  <table>
      <tr ng-repeat="item in value">
        <!-- details Title label -->
        <td class="detailsTitle item-text-wrap">{{item.label}}</td>
        <!-- Indent ( : ) -->
        <td>&nbsp;:&nbsp;</td>
        <!-- Details Information -->
        <td class="detailsinfo text_overflow">{{item.gotValue}}</td>
      </tr>
  </table>
  </div>

  <div  class="item border_color item-body " 
        style="padding-left:10px;" 
        ng-if="pageTitle == 'CONTACT DETAILS'">
  <table>
      <tr ng-repeat="item in primaryInformation">
         <!-- details Title label -->
          <td class="detailsTitle">{{item.key}}</td>
          <!-- Indent ( : ) -->
          <td>&nbsp;:&nbsp;</td>
           <!-- Details Information -->
          <td class="detailsinfo">{{item.value}}</td>
      </tr>
  </table>            
  </div>
</div>
<br><br><br><br>
</ion-content>
</ion-view>