<ion-view title="{{title}}"
          class="background_color">

          <!-- Subheader -->
<div class="bar bar-subheaderr item-input-inset">
  <div class="list">
    <label id="search-box" class="bar bar-header item-input-inset search-box-margin">
        <div class="item-input-wrapper" class="">
          <i class="icon ion-android-search placeholder-icon"></i>
          <input type="search" placeholder="Search" ng-model="searchString" >
          <button class="button button-clear button-calm" ng-show="searchString" ng-click="clearSearch()"> X
            </button>
        </div>      
    </label>
  </div>
</div>

     <ion-content class="has-header subpadding">
      
      <div class="list" id="details">

          <div class="item item-thumbnail-left">
                <img src="img/Flaticon_33308.png">
                   
                    <h2 ng-if="$first">{{customerData.custName}}</h2>
                    <p ng-if="!$first">Status: {{customerData.custStatus}}</p>
                         
            </div>
      
    

    <span class="" ng-repeat="item in ListArray">

            <div ng-if="{{pageTitle}} == 'OPPORTUNITY'">
                <a class="item  item-icon-left" ng-click="setListItemId(item.id)">
                    <i class="icon ion-document"></i>
                    <h2>{{item['Company Name']}}</h2>
                    
                    {{item['Expected Close']}}
                    <br>
                    {{item['Projected Total']}}
                </a>
            </div>
            <div ng-if="{{pageTitle}} == 'QUOTE'">
                <a class="item  item-icon-left" ng-click="setListItemId(item.id)">
                    <i class="icon ion-document-text"></i>
                    <h2>{{item.Name}}</h2>
                    
                     {{item.Status}}
                     <br>
                   {{item.Amount}}
                </a>
            </div>

            <div ng-if="pageTitle == 'ORDER'">
                <a class="item  item-icon-left" ng-click="setListItemId(item.id)">
                    <i class="icon ion-clipboard"></i>
                    <h2>{{item.Name}}</h2>
                    
                     {{item.Status}}
                     <br>
                   {{item.Amount}}
                </a>
            </div>
            

    </span>
  </div>

      <br><br><br><br>
    </ion-content>
    <!-- Footer -->
<ion-footer-bar class="bar-color">

<!-- Button Left (Sort)-->
<button class="button button-clear icon icon-sort-name-up" 
        ng-click="showSortList()">
</button>

<!-- Button Right (Refresh)-->
<button class="button button-clear icon ion-ios7-refresh-empty" 
        ng-click="init()">
</button>

</ion-footer-bar>
</ion-view>