<ion-view title="{{pageTitle}}" 
          class="background_color">

<!-- Button Left (Back) -->
<ion-nav-buttons side="left">
    <button class="button button-icon icon ion-ios7-arrow-back" 
            ng-click="goBack()">
    </button>
</ion-nav-buttons>

<!-- Button Right (Edit) -->
<ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios7-compose-outline" 
            ng-click="goToEdit()" ng-show="editRelationship">
    </button>
</ion-nav-buttons>

<ion-content class="has-header subpadding" ng-show="showPage">

<!-- Customer Heading Section -->
<div class="list" id="details">
    <div class="item item-thumbnail-left ">
        <!-- Icon Image -->
        <img src="img/Flaticon_33308.png">
        <!-- Customer Name -->
        <h2>{{customerData.custName}}</h2>
        <!-- Customer Status -->
        <p>Status: {{customerData.custStatus}}</p>
    </div>

    <!-- Section Divider-->
    <span id="detailsItemDivider">
        <div class="item  item-divider detailsLabel " style="margin-top:-8px;">
        Primary Information
    </div></span>
   <!-- Information -->
    <div    class="item item-text-wrap" 
            style="padding-left:10px;">
    <table>
        <tr ng-repeat="item in primaryInfoArray">
                    <td class="detailsTitle">{{item.label}}</td>
                    <td>&nbsp;&nbsp;&nbsp;:&nbsp;</td>
                    <td class="detailsinfo">{{item.dislay_value}}</td>
                    </tr>

    </table>
</div>


<!-- Buttons -->
<a  class="item  item-icon-left item-icon-right detailsButtoncolors " 
    ng-click="goto('ADDRESS')">
    <span class="">
    <i class="icon ion-location"></i>
        ADDRESS 
    <i class="icon ion-ios7-arrow-right "></i>
    </span> 
</a>

<a  class="item item-icon-left item-icon-right detailsButtoncolors" 
    ng-click="goto('CONTACT')">
    <span class="">
    <i class="icon ion-person-stalker"></i>
        CONTACTS  
     <i class="icon ion-ios7-arrow-right "></i>   
    </span>
</a>
</div>

<!-- Extra space left for navigation and Keyboard -->
<br><br><br><br>
</ion-content>

<!-- Footer -->
<div class="bar bar-footer bar-color">

    <!-- Footer Button Left -->
    <button style="margin-top:0px;" 
            class="button button-clear icon ion-ios7-personadd" 
            ng-click="show('add')">
    </button>

    <!-- Footer Button Right -->
    <button style="margin-top:0px;" 
            class="button button-clear icon ion-ios7-eye" 
            ng-click="show('view')">
    </button>
    
</div>
</ion-view>