<ion-view title="{{myTitle}}" 
          class="background_color">

    <!-- Left Button -->
    <ion-nav-buttons side="left">
      <button class="button button-clear" 
              ng-click="goTo()">
        Cancel
      </button>
    </ion-nav-buttons>

    <!-- Right Button -->
    <ion-nav-buttons side="right">
      <button class="button button-clear" 
              ng-click="saveData()">
        Save
      </button>
    </ion-nav-buttons>

    <ion-content class="has-header">
  <ion-scroll direction="y">
    <!-- Form Start -->
    <div ng-if="myTitle == 'EDIT ADDRESS'" class="list content_margin" id="Form">
      <div class="item item-divider detailsLabel">
          Primary Information
      </div>
      <label class="item item-input" >
        <span class="input-label item-text-wrap"> Addressee</span> </span>
        <input  type="text" 
                ng-model="customer.addressee" 
                placeholder="Addressee"
                class="col col-75">
      </label>

      <label class="item item-input" >
      <span class="input-label item-text-wrap"> Address 1</span> </span>
      <input  type="text" 
              ng-model="customer.addr1" 
              placeholder="Address1"
              class="col col-75">
      </label>

      <label class="item item-input" >
      <span class="input-label item-text-wrap"> Address 2</span> </span>
      <input  type="text" 
              ng-model="customer.addr2" 
              placeholder="Address"
              class="col col-75">
      </label>


      <label class="item item-input" >
      <span class="input-label item-text-wrap">City</span> </span>
      <input  type="text" 
              ng-model="customer.city" 
              placeholder="City"
              class="col col-75">
      </label>


    <label class="item item-input item-icon-right">
      <span class="input-label item-text-wrap"> Country </span> </span>
      <input class="col col-75" 
              type="text"
              ng-click="opencountryWindow()" 
              ng-model="customer.country" 
              placeholder="Country" readonly>
      <i class="icon ion-android-dropdown"></i>
    </label>


    <label class="item item-input item-icon-right">
    <span class="input-label item-text-wrap"> State /Province </span> </span>
    <input class="col col-75" 
            type="text"
            ng-click="openstateWindow()" 
            ng-model="customer.state" 
            placeholder="State /Province" readonly>
    <i class="icon ion-android-dropdown"></i>
    </label>

    <label class="item item-input" >
      <span class="input-label item-text-wrap"> Zip Code </span> </span>
      <input  type="text" 
              ng-model="customer.zip" 
              placeholder="Zip Code"
              class="col col-75">
    </label>


     <label class="item item-input" >
      <span class="input-label item-text-wrap">Is Default Shipping </span> </span>
      <input  type="text" 
             ng-click="openshippingWindow()" 
              ng-model="isdefaultshippingValue" 
              placeholder="Yes/No"
              class="col col-75">
    </label>


    </div>
        <!-- Contact Form Starts Here-->
        <div  ng-if="myTitle == 'EDIT CONTACT'" 
              class="list content_margin" 
              id="Form">

         <!-- Section Divider -->
        <div class="item item-divider detailsLabel">
          Primary Information
        </div>

         <label class="item item-input">
    <span class="input-label item-text-wrap"> <span class="small_font"> &#42;</span> Name</span> </span>
    <input  type="text" 
             ng-model="customer.name"
             placeholder="Name"
            class="col col-75">
  </label>

    <label class="item item-input">
    <span class="input-label item-text-wrap"> <span class="small_font"> &nbsp;&nbsp;</span> Job Title </span> </span>
    <input  type="text" 
            ng-model="customer.jobtitle"
            placeholder="Job Title"
            class="col col-75">
  </label>


  <label class="item item-input">
    <span class="input-label item-text-wrap"> <span class="small_font"> &nbsp;&nbsp;</span> Phone </span> </span>
    <input  type="text" 
            ng-model="customer.phone"
            placeholder="Phone"
            class="col col-75">
  </label>


    <label class="item item-input">
    <span class="input-label item-text-wrap"> <span class="small_font"> &nbsp;&nbsp;</span> Email </span> </span>
    <input  type="text" 
           ng-model="customer.email"
           placeholder="Email"
            class="col col-75">
  </label>
        </div>
<script id="country.html" type="text/ng-template">
<div class="modal background_color" id="" ng-controller="ModelWindowController">

  <ion-header-bar class="bar bar-header ios_bar">
    <h1 class="title">Select Country</h1>
    <button class="button button-clear" ng-click="closecountryWindow()">Cancel</button>
  </ion-header-bar>

<span id="modalWindow"><div class="bar bar-header item-input-inset top_margin_template">
      <label class="item-input-wrapper">
        <i class="icon ion-android-search placeholder-icon"></i>
        <input type="search" placeholder="Search"  ng-model="searchString">
      </label>
      <button class="button button-clear button-calm" ng-show="searchString" ng-click="clearSearch()" id="templateClearButton">
        X
      </button>
 </div></span>
 
  <ion-content class="has-header has-subheader reduced_top_margin" >  
      <ion-radio  ng-repeat="country in countryList | filter: searchString" 
                  ng-click="countrySelected({{country}})"
                  ng-value="country">

                  {{country.value}}
       </ion-radio>
  </ion-content>
  </div>
</script>


<script id="modal.html" type="text/ng-template">
<div class="modal background_color" id="" ng-controller="ModelWindowController">

  <ion-header-bar class="bar bar-header ios_bar">
    <h1 class="title">Select Country</h1>
    <button class="button button-clear" ng-click="closecountryWindow()">Cancel</button>
  </ion-header-bar>

<span id="modalWindow">
<div class="bar bar-header item-input-inset top_margin_template">
      <label class="item-input-wrapper">
        <i class="icon ion-android-search placeholder-icon"></i>
        <input type="search" placeholder="Search"  ng-model="searchString">
      </label>
      <button class="button button-clear button-calm" ng-show="searchString" ng-click="clearSearch()" id="templateClearButton">
        X
      </button>
 </div></span>
 

  <ion-content class="has-header has-subheader reduced_top_margin" >  

                 <ion-radio   ng-repeat="country in countryList | filter: searchString"
                              ng-click="countrySelected({{country}})"
                              ng-value="country">

                 {{country.value}}
       </ion-radio>
  </ion-content>
  </div>
</script>

<script id="modal.html" type="text/ng-template">
<div class="modal background_color" id="" ng-controller="ModelWindowController">

  <ion-header-bar class="bar bar-header ios_bar">
    <h1 class="title">Select Country</h1>
    <button class="button button-clear" ng-click="closecountryWindow()">Cancel</button>
  </ion-header-bar>

<span id="modalWindow">
<div class="bar bar-header item-input-inset top_margin_template">
      <label class="item-input-wrapper">
        <i class="icon ion-android-search placeholder-icon"></i>
        <input type="search" placeholder="Search"  ng-model="searchString">
      </label>
      <button class="button button-clear button-calm" ng-show="searchString" ng-click="clearSearch()" id="templateClearButton">
        X
      </button>
 </div></span>
 

  <ion-content class="has-header has-subheader reduced_top_margin" >  

                 <ion-radio  ng-repeat="country in countryList | filter: searchString"
                  ng-click="countrySelected({{country}})"
                  ng-value="country">

                 {{country.value}}
       </ion-radio>
  </ion-content>
  </div>
</script>



<script id="state.html" type="text/ng-template">
<div class="modal background_color" id="" ng-controller="ModelWindowController">

  <ion-header-bar class="bar bar-header ios_bar">
    <h1 class="title">Select State/Province</h1>
    <button class="button button-clear" ng-click="closestateWindow()">Cancel</button>
  </ion-header-bar>

<span id="modalWindow">
<div class="bar bar-header item-input-inset top_margin_template">
      <label class="item-input-wrapper">
        <i class="icon ion-android-search placeholder-icon"></i>
        <input type="search" placeholder="Search"  ng-model="searchString">
      </label>
      <button class="button button-clear button-calm" ng-show="searchString" ng-click="clearSearch()" id="templateClearButton">
        X
      </button>
 </div></span>
 

  <ion-content class="has-header has-subheader reduced_top_margin" >  
                 <ion-radio  ng-repeat="state in stateList | filter: searchString"
                              ng-click="stateSelected({{state}})"
                              ng-value="state">

                 {{state.value}}
       </ion-radio>
  </ion-content>
  </div>
</script>


<script id="shipping.html" type="text/ng-template">
<div class="modal background_color" id="" ng-controller="ModelWindowController">

  <ion-header-bar class="bar bar-header ios_bar">
    <h1 class="title">Select an Item</h1>
    <button class="button button-clear" ng-click="closeshippingWindow()">Cancel</button>
  </ion-header-bar>

<span id="modalWindow">
<div class="bar bar-header item-input-inset top_margin_template">
      <label class="item-input-wrapper">
        <i class="icon ion-android-search placeholder-icon"></i>
        <input type="search" placeholder="Search"  ng-model="searchString">
      </label>
      <button class="button button-clear button-calm" ng-show="searchString" ng-click="clearSearch()" id="templateClearButton">
        X
      </button>
 </div>
 </span>

  <ion-content class="has-header has-subheader reduced_top_margin" >  
         <ion-radio  ng-click="shippingSelected('T')">
                            YES
          </ion-radio>
          <ion-radio ng-click="shippingSelected('F')">
                      NO
          </ion-radio>
  </ion-content>
  </div>
</script>
      </ion-scroll>
      <br><br><br><br><br><br><br><br>
    </ion-content>
</ion-view>