<ion-view title="{{myTitle}}"
          class="background_color">

<ion-nav-buttons side="left">

<button class="button button-clear" 
        ng-click="goTo()">

        Cancel
</button>
</ion-nav-buttons>

<ion-nav-buttons side="right">

<button class="button button-clear" 
        ng-click="saveData()">
        Save
</button>
</ion-nav-buttons>

<ion-content class="has-header content_margin">
<ion-scroll direction="y">

  <div class="list container">


   <label class="item item-input">
    <input id="Name" name="Name" placeholder="*Name" required="required" ng-model="customer.entityid" type="text"/>
     <label for="Name"><span class="small_font"> &#42;</span>Name</label>
  </label>


   <label class="item item-input item-icon-right ">
    <input id="Status" name="Status" placeholder="*Status" required="required" ng-model="customer.entitystatusvalue"  type="text" ng-click="openstatusWindow()"/>
     <label for="Status"><span class="small_font"> &#42;</span>Status</label>
     <i class="icon ion-chevron-down listIcon"></i>
  </label>



    <div class="item item-divider ">
    Primary Information
    </div>

    <label class="item item-input item-icon-right ">
    <input id="Category" name="Category" placeholder=" Category" required="required" ng-model="customer.categoryvalue" type="text" ng-click="opencategoryWindow()"/>
     <label for="Category"><span class="small_font"> &nbsp;&nbsp;</span>Category</label>
     <i class="icon ion-chevron-down listIcon"></i>
  </label>

  <label class="item item-input">
    <input id="Company" name="Company" placeholder="*Company" required="required" ng-model="customer.companyname"  type="text"/>
     <label for="Company"><span class="small_font"> &#42;</span> Company</label>
  </label>

  <label class="item item-input">
    <input id="WebAddress" name="WebAddress" placeholder=" Web Address" required="required" ng-model="customer.url"  type="text"/>
     <label for="WebAddress"><span class="small_font"> &nbsp;&nbsp;</span> Web Address</label>
  </label>

  <label class="item item-input">
    <input id="Email" name="Email" placeholder=" Email" required="required" ng-model="customer.email"  type="text"/>
     <label for="Email"><span class="small_font"> &nbsp;&nbsp;</span> Email</label>
  </label>

  <label class="item item-input">
    <input id="Comments" name="Comments" placeholder=" Comments" required="required" ng-model="customer.comments"  type="text"/>
     <label for="Comments"><span class="small_font"> &nbsp;&nbsp;</span> Comments</label>
  </label>

  <label class="item item-input">
    <input id="Phone" name="Phone" placeholder=" Phone" required="required" ng-model="customer.phone" type="text"/>
     <label for="Phone"><span class="small_font"> &nbsp;&nbsp;</span> Phone</label>
  </label>



    <br><br><br><br><br><br><br>


</div>
 <script id="status.html" type="text/ng-template">
      <div class="modal background_color" ng-controller="ModelWindowController">
        <ion-header-bar class="bar bar-header ios_bar">
          <h1 class="title">Select Status Type</h1>
          <button class="button button-clear" ng-click="closestatusWindow()">Cancel</button>
        </ion-header-bar>

          <div class="bar bar-subheaderr item-input-inset subheader_margin_template">
  <span id="modalWindow">
  <div class="list">
    <label id="search-box" class="bar bar-header item-input-inset search-box-margin">
        <div class="item-input-wrapper">
          <i class="icon ion-android-search placeholder-icon"></i>
          <input type="search" placeholder="Search" ng-model="searchString" >
          <button class="button button-clear button-positive" ng-show="searchString" ng-click="clearSearch()"> <i class="icon ion-ios7-close-empty"></i>
            </button>
        </div>      
    </label>
  </div>
</div>
</span>



        <ion-content  class="has-header has-subheader top_margin">
          <div class="">
           <ion-radio  ng-repeat="status in statusList | filter : searchString" 
                  ng-click="statusTypeSelected({{status}})" 
                  ng-value="status.value">
      {{status.value}}
      </ion-radio>
      </div>
        </ion-content>
      </div>
    </script>

    <script id="category.html" type="text/ng-template">
<div class="modal background_color" id="" ng-controller="ModelWindowController">

  <ion-header-bar class="bar bar-header ios_bar">
    <h1 class="title">Select Category Type</h1>
    <button class="button button-clear" ng-click="closecategoryWindow()">Cancel</button>
  </ion-header-bar>

  <span id="modalWindow">
 <div class="bar bar-subheaderr item-input-inset subheader_margin_template">
  <div class="list">
    <label id="search-box" class="bar bar-header item-input-inset search-box-margin">
        <div class="item-input-wrapper">
          <i class="icon ion-android-search placeholder-icon"></i>
          <input type="search" placeholder="Search" ng-model="searchString" >
          <button class="button button-clear button-positive" ng-show="searchString" ng-click="clearSearch()"> <i class="icon ion-ios7-close-empty"></i>
            </button>
        </div>      
    </label>
  </div>
</div></span>

  <ion-content class="has-header has-subheader reduced_top_margin" >  
  <ion-radio  ng-repeat="category in categoryList | filter : searchString" 
              ng-click="categoryTypeSelected({{category}})"
              ng-value="category.value">
      {{category.value}}
    </ion-radio>
  </ion-content>
</div>
</script>
</ion-scroll>
</ion-content>
</ion-view>