<ion-view 	title="{{pageTitle}}"
			class="background_color">

	<ion-nav-buttons side="left">

        <button class="button button-clear" 
        		ng-click="goTo()">
        		Cancel
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">

        <button class="button button-clear" 
        		ng-click="saveData()">
        		Next
        </button>
    </ion-nav-buttons>
	
    <ion-content class="has-header content_margin">
    <ion-scroll direction="y">
        <div class="list" id="Form">

	<label class="item item-input" class="item item-input">
    <span class="input-label item-text-wrap"> <span class="small_font"> &#42;</span> Name</span>
    <input  type="text" 
            ng-model="expense.entityvalue" 
            placeholder="Name" 
            class="col col-75">
    </label>

	  <label class="item item-input">
	    <span class="input-label item-text-wrap"> <span class="small_font"> &#42;</span> Date </span>
	    <input  type="text" 
	            ng-model="expense.trandate"
				placeholder="Date" 
				ng-click="opendateModal('trandate')" 
	            class="col col-75">
	  </label>

	<label class="item item-input" class="item item-input">
    <span class="input-label item-text-wrap"> <span class="small_font"> &nbsp;&nbsp;</span>  Purpose</span>
    <input  type="text" 
            ng-model="expense.memo" 
			placeholder="Purpose"
            class="col col-75">
    </label>

            <div class="item item-divider detailsLabel">
			  Primary Information
			</div>

	  <label class="item item-input">
	    <span class="input-label item-text-wrap"> <span class="small_font"> &#42;</span> Due Date /Receive By </span>
	    <input  type="text" 
	           ng-model="expense.duedate"
				placeholder="Date" 
				ng-click="opendateModal('duedate')" 
	            class="col col-75">
	  </label>


        </div>
        <script id="datemodal.html" type="text/ng-template">
            <div class="modal background_color">
                <header class="bar bar-header ios_bar">
					  <h1 class="title">Date</h1>
					  <button class="button button-clear" ng-click="cancel()">Cancel</button>
                </header>
                <ion-content has-header="true">
                  <br><br>
                   
                    <div class="padding">
						<div pickadate ng-model="myDate"></div>
                    </div>
                    
                     <button class="button button-full button_background" ng-click="closedateModal(myDate)">Choose</button>
                   
                </ion-content>
            </div>
         </script>
</ion-scroll>
      <br><br><br><br>
    </ion-content>
</ion-view>