<!-- Add Opportunity Page -->
<ion-view title="{{pageTitle}}"
		 class="background_color">

<ion-nav-buttons side="left">

<button class="button button-clear" 
		ng-click="goTo()">
		Cancel
</button>
</ion-nav-buttons>

<ion-nav-buttons side="right">

<button class="button button-clear" 
		ng-click="saveData()">
		Save
</button>
</ion-nav-buttons>
<!-- Head Section END-->
<ion-content class="has-header content_margin">

<div class="list" id="Form">

  <label class="item item-input">
  <span class="input-label item-text-wrap"> <span class="small_font"> &#42;</span>Employee</span>
  <input    type="text" 
            ng-model="timesheet.employeevalue" 
			placeholder="Name" 
            class="col col-75" disabled>
  </label>

	  <label class="item item-input">
	    <span class="input-label item-text-wrap"><span class="small_font"> &nbsp;&nbsp;</span> Date </span>
	    <input  type="text" 
	            ng-model="expense.trandate"
				placeholder="date"
	            class="col col-75" disabled>
	  </label>


	<!-- Section Divider -->
	<div class="item item-divider detailsLabel">
		Primary Information
	</div>

	<label class="item item-input">
    <span class="input-label item-text-wrap"> <span class="small_font"> &nbsp;&nbsp;</span> Duration (hrs)</span>
    <input  type="text" 
			ng-model="timesheet.hours" 
			placeholder="Duration"
            class="col col-75">
  </label>

  <label class="item item-input">
  <span class="input-label item-text-wrap"> <span class="small_font"> &nbsp;&nbsp;</span> Description </span>
  <input    type="text" 
           	ng-model="timesheet.memo" 
			 placeholder="Description"
            class="col col-75">
  </label>

		
  <label class="item item-input" ng-if="flag == 'true'">
  <span class="input-label item-text-wrap"> <span class="small_font"> &nbsp;&nbsp;</span> Billable </span>
  			<label class="toggle pull-center">
				<input type="checkbox"  ng-checked="true"
				      ng-model="value2"
				      ng-true-value="true"
				      ng-false-value="false"
				      ng-change="checkState()">
			   <div class="track">
			     <div class="handle"></div>
			   </div>

			</label>
  </label>

    <label class="item item-input" ng-if="flag == 'false'">
  <span class="input-label item-text-wrap"> <span class="small_font"> &nbsp;&nbsp;</span> Billable </span>
			<label class="toggle pull-center" >
				<input type="checkbox"  ng-checked="false"
				      ng-model="value2"
				      ng-true-value="true"
				      ng-false-value="false"
				      ng-change="checkState()">
			   <div class="track">
			     <div class="handle"></div>
			   </div>
			</label>
  </label>
			
   <label class="item item-input item-icon-right">
    <span class="input-label item-text-wrap"> <span class="small_font"> &nbsp;&nbsp;</span> Customer </span> 
    <input class="col col-75" 
            type="text"
            ng-model="timesheet.customervalue"
			placeholder="Customer" 
			ng-click="openCustomerJob()"    readonly>
    <i class="icon ion-android-dropdown"></i>
  </label>  


   <label class="item item-input item-icon-right">
    <span class="input-label item-text-wrap"> <span class="small_font"> &nbsp;&nbsp;</span> Department </span> 
    <input class="col col-75" 
            type="text"
            ng-model="timesheet.departmentvalue"
			placeholder="Department" 
			ng-click="openDepartment()"     readonly>
    <i class="icon ion-android-dropdown"></i>
  </label>


  <label class="item item-input item-icon-right">
    <span class="input-label item-text-wrap"> <span class="small_font"> &#42;</span> Item </span> 
    <input class="col col-75" 
            type="text"
            ng-model="timesheet.itemvalue"
			placeholder="Item" 
			ng-click="openItem()"  readonly>
    <i class="icon ion-android-dropdown"></i>
  </label>

					</div>

					<!--PRIMARY INFORMATION Section END-->
<script id="Department.html" type="text/ng-template">
<div class="modal background_color" id="" ng-controller="ModelWindowController">

  <ion-header-bar class="bar bar-header ios_bar">
    <h1 class="title">Select Department</h1>
    <button class="button button-clear" ng-click="closeDepartment()">Cancel</button>
  </ion-header-bar>

        <span id="modalWindow">
          <div class="bar bar-header item-input-inset top_margin_template">
            <label class="item-input-wrapper">
              <i class="icon ion-android-search placeholder-icon"></i>
              <input type="search" placeholder="Search"  ng-model="searchString">
            </label>
            <button class="button button-clear button-calm" ng-show="searchString" ng-click="clearSearch()" id="templateClearButton">
              X
            </button>
          </div></span>

  <ion-content class="has-header has-subheader reduced_top_margin" >  
      <ion-radio  ng-repeat="dept in DepartmentList | filter:searchString"
					ng-click="setDepartment({{dept}})"
					ng-value="dept.value">
       {{dept.value}} 
      </ion-radio>

  </ion-content>
  </div>
</script>

<script id="CustomerJob.html" type="text/ng-template">
<div class="modal background_color" id="" ng-controller="ModelWindowController">

  <ion-header-bar class="bar bar-header ios_bar">
    <h1 class="title">Select Customer</h1>
    <button class="button button-clear" ng-click="closeCustomerJob()">Cancel</button>
  </ion-header-bar>

        <span id="modalWindow">
          <div class="bar bar-header item-input-inset top_margin_template">
            <label class="item-input-wrapper">
              <i class="icon ion-android-search placeholder-icon"></i>
              <input type="search" placeholder="Search"  ng-model="searchString">
            </label>
            <button class="button button-clear button-calm" ng-show="searchString" ng-click="clearSearch()" id="templateClearButton">
              X
            </button>
          </div></span>

  <ion-content class="has-header has-subheader reduced_top_margin" >  
      <ion-radio 	ng-repeat="cust in CustomerJobList | filter:searchString"
					ng-click="setCustomerJob({{cust}})"
					ng-value="cust.value">
		{{cust.value}} 
      </ion-radio>

  </ion-content>
  </div>
</script>


<script id="Item.html" type="text/ng-template">
<div class="modal background_color" id="" ng-controller="ModelWindowController">

  <ion-header-bar class="bar bar-header ios_bar">
    <h1 class="title">Select Item</h1>
    <button class="button button-clear" ng-click="closeItem()">Cancel</button>
  </ion-header-bar>

        <span id="modalWindow">
          <div class="bar bar-header item-input-inset top_margin_template">
            <label class="item-input-wrapper">
              <i class="icon ion-android-search placeholder-icon"></i>
              <input type="search" placeholder="Search"  ng-model="searchString">
            </label>
            <button class="button button-clear button-calm" ng-show="searchString" ng-click="clearSearch()" id="templateClearButton">
              X
            </button>
          </div></span>

  <ion-content class="has-header has-subheader reduced_top_margin" >  
      <ion-radio 	ng-repeat="item in ItemList | filter:searchString "
					ng-click="setItem({{item}})"
					ng-value="item.value">
		{{item.value}} 
      </ion-radio>

  </ion-content>
  </div>
</script>

</ion-scroll>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

				</ion-content>
			</ion-view>