<ion-view 	title="{{pageTitle}}"
			class="background_color">

	<ion-nav-buttons side="left">

        <button class="button button-clear" 
        		ng-click="goTo()">
        		Cancel
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">

        <button class="button button-clear" 
        		ng-click="saveData()">
        		Save
        </button>
    </ion-nav-buttons>

    <ion-content class="has-header content_margin content_margin_ios">
    <ion-scroll direction="y">
        <div class="list" id="Form">
          <!-- Section Divider -->
			<div class="item item-divider detailsLabel">
			  Primary Information
			</div>

	<label class="item item-input item-icon-right">
    <span class="input-label item-text-wrap"><span class="small_font"> &#42;</span> Expense Category </span>
    <input class="col col-75" 
            type="text"
            ng-model="expenseObject.expensecategoryvalue"
			placeholder="Expense" 
			ng-click="openexpenseCategoryWindow()"   readonly>
    <i class="icon ion-android-dropdown"></i>
  </label>

   <label class="item item-input">
    <span class="input-label item-text-wrap"> <span class="small_font"> &nbsp;&nbsp;</span>Amount</span>
    <input  type="text" 
           ng-model="expenseObject.amount" 
			placeholder="Amount"
            class="col col-75">
  </label>

            
	<label class="item item-input">
	    <span class="input-label item-text-wrap"> <span class="small_font"> &#42;</span> Date </span>
	    <input  type="text" 
	            ng-model="expenseObject.trandate"
				placeholder="Expense Date" 
				ng-click="opendateModal()" 
	            class="col col-75">
	  </label>	 
           
 </div>
		
		<script id="datemodal.html" type="text/ng-template">
				<div class="modal background_color">
					<header class="bar bar-header ios_bar">
						  <h1 class="title">Date</h1>
						  <button class="button button-clear" ng-click="cancel()">Cancel</button>
					</header>
					<ion-content has-header="true">
						<br><br>
					   
						<div class="padding">
						  <div pickadate ng-model="myDate"></div>
						</div>
						
						<button class="button button-full button_background" ng-click="closedateModal(myDate)">Choose</button>
					   
					</ion-content>
			  </div>
		 </script>
		
	<script id="expenseCategory.html" type="text/ng-template">
<div class="modal background_color" id="" ng-controller="ModelWindowController">

  <ion-header-bar class="bar bar-header ios_bar">
    <h1 class="title">Select Expense Category</h1>
    <button class="button button-clear" ng-click="closeexpenseCategoryWindow()">Cancel</button>
  </ion-header-bar>

          <span id="modalWindow">
          <div class="bar bar-header item-input-inset top_margin_template">
            <label class="item-input-wrapper">
              <i class="icon ion-android-search placeholder-icon"></i>
              <input type="search" placeholder="Search"  ng-model="searchString">
            </label>
            <button class="button button-clear button-calm" ng-show="searchString" ng-click="clearSearch()" id="templateClearButton">
              X
            </button>
          </div></span>

  <ion-content class="has-header has-subheader reduced_top_margin" >  
     <ion-radio  ng-repeat="expenseCategory in expenseCategoryList"
							 ng-click="expenseCategorySelected({{expenseCategory}})"
							ng-value="expenseCategory.value">
							 {{expenseCategory.value}} 
						 </ion-radio>

  </ion-content>
  </div>
</script>
		 </ion-scroll>
      <br><br><br><br> <br><br><br><br> <br><br><br><br>
    </ion-content>
</ion-view>