<ion-view   title="{{pageTitle}}"
            class="background_color">

	<ion-nav-buttons side="left">

        <button menu-toggle="left" 
                class="button button-icon icon ion-navicon">
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">

        <button     class="button button-icon icon icon ion-ios7-plus-empty" 
                    ng-click="goTo()" ng-show="addExpense">
        </button>
    </ion-nav-buttons>
  

<ion-content class="has-header content_margin">

<div id="" class="list" >

    <div  ng-repeat="item in valueArray | filter:searchString">
      <a class="item item-icon-left item-icon-right" 
         ng-click="gotoPage({{item.id}})">
        <div><!--  ngm-touch="loadNextData($index)" class=""> -->

           <i class="icon ion-android-alarm"></i>
           <h2>{{item.Number}}</h2>
           <p>
            <span class="text_overflow detailsinfo">{{item.Status}} </span> <br>
           <span class="text_overflow reduced-top-margin detailsinfo">{{item.Date}}</span></p>

       </div>
         <i class="icon ion-ios7-arrow-right chevron_color"></i>
   </a>
</div>
  
  <div style="margin-top:10px;" class="card" 
      ng-show="allData.length > 1">
    <button ngm-touch="loadNextData1()" style="margin-top:0px;margin-bottom:0px;" class="button button-block button-calm">
      <i class="icon ion-refresh"></i>
      Load More
    </button>
    </div>

    <div id="caseList">
    <div ng-show="showMessage" class="item item-icon-left item-assertive">
      <i class="icon"></i>
      No More Records
    </div>
    </div>

</div>
    </ion-content>


<!-- Footer -->
<ion-footer-bar class="bar-color">

<!-- Button Left (Sort)-->
<button class="button button-clear icon icon-sort-name-up" 
        ng-click="showSortList()">
</button>

<!-- Button Right (Refresh)-->
<button class="button button-clear icon ion-ios7-refresh-empty" 
        ng-click="init()">
</button>

</ion-footer-bar>

</ion-view>