<ion-view 	title="{{pageTitle}}"
			 class="background_color">

		<ion-nav-buttons side="left">

			<button class="button button-icon icon ion-ios7-arrow-left" 
					ng-click="goBack()">
			</button>	
		</ion-nav-buttons>

		<ion-nav-buttons side="right">

			<button class="button button-clear" 
					ng-click="saveExpenseData()">
					Done
			</button>
		</ion-nav-buttons>
		
		<ion-content class="has-header">

          <div class="list" >
            <div ng-if="lengthOfArray == 0 && Previouspage == 'ADD EXPENSE'">
                   <b> <br> <br>&nbsp; Please enter atleast one expense </b>
                </div>
            <div class="item" ng-repeat="item in valueArray">

                 

             <span class="checkbox checkbox_border expense-reduced-checkbox-margin">
            <input  type="checkbox" 
                    ng-change="selectItems(item.id,state)" 
                    ng-model="state"
                    class="has-header checkbox_border">
            </span>


              <table class="expenseReducedTopMargin  col-offset-20" ng-click="gotoPage({{item}})">
                <tr>
                    <td class="detailsTitle">Amount</td>
                    <td>&nbsp; : &nbsp;</td>
                    <td class="detailsinfo">{{item.amount}}</td>
                </tr>  
                <tr>
                    <td class="detailsTitle">Expense Category</td>
                    <td>&nbsp; : &nbsp;</td>
                    <td class="detailsinfo">{{item.expensecategoryvalue}}</td>
                </tr>  
                <tr>
                    <td class="detailsTitle">Date</td>
                    <td>&nbsp; : &nbsp;</td>
                    <td class="detailsinfo">{{item.trandate}}</td>
                </tr> 
              </table>

            </div>
        </div>

		</ion-content>
		<!-- Footer -->
<ion-footer-bar class="bar-color">


<button class="button button-clear icon ion-ios7-trash" 
        ng-if="counter > 0" 
        ng-click="deleteItems()">
</button>



<button class="button button-clear " >
</button>


<button class="button button-clear icon icon ion-ios7-plus-empty" 
         ng-click="showEdit()">
</button>
</ion-footer-bar>
</ion-view>