<ion-view 	title="{{pageTitle}}"
			class="background_color">

	<ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios7-arrow-left" 
        		ng-click="goBack()">
        </button>
    </ion-nav-buttons>

    <!-- Subheader -->
<div class="bar bar-subheader item-input-inset">
    <label id="search-box" class="bar bar-header item-input-inset  search-box-margin">
        <div class="item-input-wrapper">
          <i class="icon ion-android-search placeholder-icon"></i>
          <input type="search" placeholder="Search" ng-model="searchString" >
          <button class="button button-clear button-calm" ng-show="searchString" ng-click="clearSearch()"> X
            </button>
        </div>      
    </label>
  </div>
</div>

	<ion-content class="has-header has-subheader">
  <div class="list">
         <table class="item" ng-repeat="item in valueArray"> 
                    <tr>
                        <td class="detailsTitle">Amount</td>
                        <td>&nbsp;:&nbsp;</td>
                        <td class="detailsinfo item-text-wrap">{{item.amount}}</td>
                    </tr>

                    <tr>
                        <td class="detailsTitle">Expense Category</td>
                        <td>&nbsp;:&nbsp;</td>
                        <td class="detailsinfo item-text-wrap">{{item.expensecategoryvalue}}</td>
                    </tr>

                    <tr>
                        <td class="detailsTitle"> Date</td>
                        <td>&nbsp;:&nbsp;</td>
                        <td class="detailsinfo item-text-wrap">{{item.trandate}}</td>
                    </tr>
                </table>


    </div>


		
	   

		<br><br><br><br>
    </ion-content>
</ion-view>