<ion-view 	title="{{pageTitle}}"
			class="background_color">

	<ion-nav-buttons side="left">

        <button class="button button-icon icon ion-ios7-arrow-left" 
        		ng-click="goBack()">
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">

        <button class="button button-icon icon ion-ios7-compose-outline" 
        		ng-click="goToEdit()" ng-show="editExpense">
        </button>
    </ion-nav-buttons>

	
	<ion-content class="has-header subpadding">


			<!-- Customer Heading Section -->
			<div class="list" id="details">
					  <div class="item item-thumbnail-left ">
				        <!-- Icon Image -->
				        <img src="img/Flaticon_33308.png">
				        <!-- Customer Name -->
				        <div ng-repeat="item in value">
				        	<div ng-if="$index<3">
				        		<div ng-if="$index==0">
						        	<h2>{{item.gotValue}}</h2>
						      </div>
						      <div ng-if="$index!=0">
						              {{item.label}} : {{item.gotValue}}
						      </div>
				        	</div>	

				        </div>
				    
				    </div>

 


				<!-- Section Divider-->
				<div class="item border_color item-divider detailsLabel">
					Primary Information
				</div>

			   
					<div class="item border_color text_overflow" style="padding-left&nbsp;:&nbsp;10px;">
						<table>
							<tr ng-repeat="item in value">
								<td ng-if="$index>=3" class="detailsTitle item-text-wrap">{{item.label}}</td>
								<td ng-if="$index>=3" >&nbsp; : &nbsp;</td>
								<td ng-if="$index>=3" class="detailsinfo">{{item.gotValue}}</td>
							</tr>
						</table>
					</div>
			

			<!-- Primary Information Section End-->
	 
				<a class="item item-icon-left item-icon-right detailsButtoncolors" 
					ng-click="gotoPage()">

					<span class="">

						<i class="icon icon-dollar"></i>
							EXPENSES
						<i class="icon ion-ios7-arrow-right"></i>

					</span> 
				</a>

		   
</div>
		<!-- Page Contents End -->

			<br><br><br><br>
    </ion-content>
        <!-- Footer Start -->
	<ion-footer-bar class="bar-color">



	<!-- Button Right (Refresh)-->
	<button class="single_footer_button button button-clear icon ion-ios7-refresh-empty" 
	        ng-click="init()">
	</button>

	</ion-footer-bar>
</ion-view>