<!-- Main Page for Transaction Section -->
<ion-view   title="{{pageTitle}}"
            class="background_color">

<ion-nav-buttons side="left">

<button ng-click="goBack()"
        class="button button-icon icon ion-ios7-arrow-left">
</button>
</ion-nav-buttons>

<ion-content class="has-header">

<!-- List To be Displayed Start-->

<div  class="list content_margin">
    <!-- Division with ng-repeat and Filters for Search -->

    <div ng-repeat="item in last5TimesheetList">
      <a class="item item-icon-left item-icon-right"  
         ng-click="gotoPage('TimesheetRecord',item)">

         <i class="icon ion-android-alarm"></i>
         <table>
            <tr>
                <td><p>{{item.date}} </p></td>
                <td>&nbsp;  &nbsp; </td>
                <td><p>{{item.enddate}}</p></td>
                <td><span class="badge badge-info">
                    {{item.duration}} hrs
                    </span>          
                </td>              
            </tr>
         </table>
    <i class="icon ion-ios7-arrow-right ion-ios7-arrow-left"></i>
   </a>
</div>



</div>
<!-- List To be Displayed End -->
</ion-content>
<ion-footer-bar class="bar-color">

<!-- Button Right (Refresh)-->
<button class="single_footer_button button button-clear icon ion-ios7-refresh-empty" 
        ng-click="init()">
</button>
</ion-footer-bar>

</ion-view>