<!-- Main Page for Transaction Section -->
<ion-view title="{{pageTitleName}}"
          class="background_color">

  <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios7-arrow-left" 
                ng-click="goBack()">
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right" ng-if="page != 'Last5Timesheet'">
        <button class="button button-icon icon ion-ios7-plus-empty" 
                ng-click="goTo()" ng-show="addTimesheet">
        </button>
    </ion-nav-buttons>
<ion-content ng-show="showPage" class="has-header">

<!-- List To be Displayed Start-->


<div id="" class="list content_margin" >

  &nbsp;&nbsp;&nbsp;<h2 class="padding"> {{day}}, {{todate}}</h2>
    <div ng-if="messageFlag == 'true'" class="error padding">{{message}}
    </div>
    
    <div ng-repeat="item in weekDayDurationArray">
      <a class="item item-icon-left item-icon-right" 
         ng-click="gotoPage('TimesheetDetails',item.internalId)">
        <div class="">
           <i class="icon ion-android-alarm"></i>
          
            <p> <span class="detailsinfo">{{item.hours}} </span></p>
       </div>
   <i class="icon ion-ios7-arrow-right chevron_color"></i>
   </a>
</div>
</div>

<!-- List To be Displayed End -->
</ion-content>

<!-- Footer -->
<ion-footer-bar class="bar-color">

<!-- Button Left (Sort)-->
<button class="button button-clear icon icon-sort-name-up" 
        ng-click="showSortList()">
</button>

<!-- Button Right (Refresh)-->
<button class="button button-clear icon ion-ios7-refresh-empty" 
        ng-click="init()">
</button>

</ion-footer-bar>
</ion-view>