<!-- Main Page for Transaction Section -->
<ion-view title="{{PageTitle}}"         
          class="background_color">
          
  <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios7-arrow-left" ng-click="goBack()"></button>
    </ion-nav-buttons>
<ion-content class="has-header">

<!-- List To be Displayed Start-->


<div id="" class="list content_margin" >

    <div ng-repeat="item in TimeSheetListArray" >
      <a class="item item-icon-left item-icon-right" 
         ng-click="gotoPage('TimesheetRecord',item)">

     
        <div class="">

           <i class="icon ion-android-alarm"></i>
            <span class="badge badge-info list_badge">{{item.duration}} hrs</span> 
            <h2>{{item.day}} </h2>
            <p> <span class="detailsinfo">{{item.date}} </span></p>

       </div>
         <i class="icon ion-ios7-arrow-right chevron_color"></i>
   </a>
</div>
</div>

<!-- List To be Displayed End -->
</ion-content>

<!-- Footer -->
<ion-footer-bar class="bar-color">


<!-- Button Right (Refresh)-->
<button class=" single_footer_button button button-clear icon ion-ios7-refresh-empty" 
        ng-click="init()">
</button>

</ion-footer-bar>
</ion-view>