<ion-view title="{{pageName}}"
            class="background_color">

    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios7-arrow-left" 
                ng-click="goBack()">
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios7-compose-outline" 
                ng-click="goToEdit()" ng-show="editTimesheet">
        </button>
    </ion-nav-buttons>

	<ion-content ng-show="showPage" class="has-header subpadding">

	<!-- Customer Heading Section -->
	<div class="list" id="details">
		<div class="item item-thumbnail-left ">

			<!-- Icon Image -->
			<img src="img/Flaticon_33308.png">

			<div ng-repeat="item in headerData">

                <h2>{{item.value}}</h2>               

            </div>  
		</div>

        <!-- Section Divider-->
			<div class="item  item-divider detailsLabel">
				Primary Information
		  </div>

        <div class="item  item-text-wrap" 
            style="padding-left:10px;">
            <table>
                <tr ng-repeat="item in primaryInfoData">
                    <!-- details Title label -->
            <td class="detailsTitle">{{item.label}}</td>
            <!-- Indent ( : ) -->
            <td>&nbsp;:&nbsp;</td>
            <!-- Details Information -->
            <td class=""><span class="detailsinfo text_overflow">{{item.value}}</span></td>            
                </tr>
            </table>
        </div>
    
	</div>
    <!-- Primary Information Section End-->


    
    <!-- Items Link End -->

<!-- Page Contents End -->

    <br><br><br><br>
    </ion-content>

 <!-- Footer -->
<ion-footer-bar class="bar-color">

<!-- Button Right (Refresh)-->
<button class="single_footer_button button button-clear icon ion-ios7-refresh-empty" 
        ng-click="init()">
</button>

</ion-footer-bar>
</ion-view>