<!-- Main Page for Transaction Section -->
<ion-view   title="{{pageTitle}}"
            class="background_color"
            ng-init="init()">

	<ion-nav-buttons side="left">
        <button menu-toggle="left"
                 class="button button-icon icon ion-navicon">
        </button>
    </ion-nav-buttons>
<ion-content class="has-header">


<div id="timesheet" class="list content_margin">

    <div ng-repeat="item in TimeSheetList">
      <a class="item item-icon-left item-icon-right"  
         ng-click="gotoPage('TimesheetList',item)">

         <i class="icon ion-android-alarm"></i>
         <table>
            <tr>
                <td><h2 class=""><span class="">{{item.startdate}}</span>
                    </h2>
                </td>
                <td> &nbsp; - &nbsp;</td>
                <td><h2 class=""><span class="">{{item.enddate}}</span> </h2></td>
                    
            </tr>
            <tr>
                <td><p>{{item.totalduration}} hrs</p></td>
            </tr>
         </table>
    <i class="icon ion-ios7-arrow-right chevron_color"></i>
   </a>
</div>
</div>


<!-- List To be Displayed End -->
</ion-content>

 <!-- Footer -->
<ion-footer-bar class="bar-color">

<!-- Button Right (Refresh)-->
<button class="single_footer_button button button-clear icon ion-ios7-refresh-empty" 
        ng-click="init()">
</button>
</ion-footer-bar>

</ion-view>