<!-- Main Page for Transaction Section -->
<ion-view title="{{pageTitle}}">
	  <ion-nav-buttons side="left">
			<button class="button button-icon icon ion-ios7-arrow-left" ng-click="goBack()"></button>
	  </ion-nav-buttons>
		
	  <ion-content class="has-header content_margin">

	<!-- List To be Displayed Start-->

		  <div class="list" >
			  <div ng-repeat="item in valueArray | filter:searchString | orderBy : orderString">

				<!-- List of Expenses -->
					 <div ngm-touch="loadNextData($index)">
							<a class="item item-icon-left item-icon-right" ng-click="gotoPage({{item.id}})">
								<div>
							 <i class="icon ion-android-alarm"></i>
							<h2>{{item.Number}}</h2>
							 <p>
							<span class="text_overflow detailsinfo">{{item.Status}}</span> <br>
							<span class="text_overflow reduced-top-margin detailsinfo">{{item.Date}}</span></p>
							</div>
							 <i class="icon ion-ios7-arrow-right chevron_color"></i>
							 </a>
					</div>
					
					
				</div>
		  </div>
	<!-- List To be Displayed End -->
	</ion-content>
	<!-- Footer Start -->
<!-- Footer -->
<ion-footer-bar class="bar-color">

<!-- Button Left (Sort)-->
<button class="button button-clear icon icon-sort-name-up" 
        ng-click="showSortList()">
</button>

<!-- Button Right (Refresh)-->
<button class="button button-clear icon ion-ios7-refresh-empty" 
        ng-click="init()">
</ion-footer-bar>

		<!-- Footer End -->
</ion-view>