<ion-view title="CALL LOGS" 
          class="background_color">

<!-- Button Left (Menu) -->
<ion-nav-buttons side="left">

<button menu-toggle="left" 
        class="button button-icon icon ion-navicon">
</button>
</ion-nav-buttons>

<!-- Subheader -->
<div class="bar bar-subheaderr item-input-inset">
  <div class="list">
    <label id="search-box" class="bar bar-header item-input-inset search-box-margin">
        <div class="item-input-wrapper">
          <i class="icon ion-android-search placeholder-icon"></i>
          <input type="search" placeholder="Search" ng-model="searchString" >
          <i class="icon" ng-show="searchString" ng-click="clearSearch()">X</i>
        </div>      
    </label>
  </div>
</div>

<!-- Actual Contents of Page -->
<ion-content class="has-header has-subheader">
<div id="" class="list">
  <div ng-if="newflag == 'true' && pageTitle != 'TOP 5 CUSTOMERS'" id="searchButton">
      <span class="Result_Message padding">No results found. Continue
      <button class="button button-clear button-positive searchButton" ng-click="mySearchList()">Search</button>
      on server.</span>
  </div>

    <div class="item padding" ng-if="newflag == 'true' && pageTitle == 'TOP 5 CUSTOMERS'">{{message}}
    </div>
  
    <div ng-if="messageFlag == 'true'" class="error padding">{{message}}
    </div>

    <span class="Result_Message padding" ng-if="showMessage1">No Records Found.
    </span>

    <!-- Division with ng-repeat and Filters for Search -->

    <div ng-repeat="cust in callList | filter:searchString">
      <a class="item item-icon-left" 
         ng-click="">

        <i class="icon ion-iphone"></i>

        <div>

           <h2>{{cust.Subject}}</h2>
           <p> <span class="deteailsTitle text_overflow">Phone Call Date: {{cust['Phone Call Date']}}</span></p>
           <p> <span class="deteailsTitle text_overflow">Phone Number: {{cust['Phone Number']}}</span></p>

       </div>
      </a>
    </div>
    <!-- <button ng-show="allData.length" ngm-touch="loadNextData1()" style="margin-top:0px;" class="button button-block button-calm">
      <i class="icon ion-refresh"></i>
      Load More
    </button> -->
    
    <div style="margin-top:10px;" class="card" 
      ng-show="allData.length && pageTitle != 'TOP 5 CUSTOMERS' && newflag != 'true' && messageFlag != 'true' && counter == 0">
    <button ngm-touch="loadNextData1()" style="margin-top:0px;margin-bottom:0px;" class="button button-block button-calm">
      <i class="icon ion-refresh"></i>
      Load More
    </button>
    </div>

    <div id="caseList">
      <div ng-show="showMessage && pageTitle != 'TOP 5 CUSTOMERS' && counter == 0 && newflag != 'true' && messageFlag != 'true'" class="item item-icon-left item-assertive">
      <i class="icon"></i>
      No More Records
    </div>
</div>
</div>



</ion-content>

<!-- Footer -->
<ion-footer-bar class="bar-color">

<!-- Button Left (Sort)-->
<button class="button button-clear button-icon icon icon-sort-name-up" 
        ng-click="showSortList()">
</button>

<!-- Button Right (Refresh)-->
<button class="button button-clear icon ion-ios7-refresh-empty" 
        ng-click="init()">
</button>

</ion-footer-bar>
</ion-view>