<!-- Add Opportunity Page -->
<ion-view title="ADD ITEMS"
          class="background_color">

<ion-nav-buttons side="left">
        <button class="button button-icon icon ion-chevron-left" 
                ng-click="goBack()">
        </button>
    </ion-nav-buttons>

     <ion-nav-buttons side="right">
        <button class="button button-clear" 
                ng-click="saveData()">Save</button>
    </ion-nav-buttons>

<ion-content class="has-header content_margin">
  <ion-scroll direction="y">
<div class="list ">

  <div class="item item-divider detailsLabel">
        Primary Information
  </div>



<label class="item item-input item-icon-right">
    <span class="input-label item-text-wrap">  <span class="small_font"> &#42;</span> Item </span>  </span>
    <input class="col col-75" 
            type="text"
           ng-model="item.itemvalue"
            placeholder="Items" 
            ng-click="fetchItemList()"  readonly>
    <i class="icon ion-android-dropdown"></i>
  </label>

  <label class="item item-input">
    <span class="input-label item-text-wrap"> <span class="small_font"> &nbsp;&nbsp;</span> Quantity</span>
    </span>
    <input  type="number" 
            ng-change="setAmount()" 
            placeholder="Quantity" 
            ng-model="item.quantity"
            class="col col-75">
  </label>

    <label class="item item-input">
    <span class="input-label item-text-wrap"> <span class="small_font"> &nbsp;&nbsp;</span> Item Rate </span>
    </span>
    <input  type="text" 
            placeholder="Item Rate" 
            ng-model="rate" 
            class="col col-75" disabled>
  </label>

  <label class="item item-input">
    <span class="input-label item-text-wrap"> <span class="small_font"> &nbsp;&nbsp;</span> Tax Amount  </span>
    </span>
    <input  type="text" 
            placeholder="Tax Amount" 
            ng-model="item.custcol_custtaxamt" 
            class="col col-75" disabled>
  </label>

  <label class="item item-input">
    <span class="input-label item-text-wrap"> <span class="small_font"> &nbsp;&nbsp;</span> Amount </span>
    </span>
    <input  type="text" 
            placeholder="Amount" 
            ng-model="item.amount" 
            class="col col-75" disabled>
  </label>


</div>

<!--PRIMARY INFORMATION Section END-->
<!-- Form to Fill up details of Opportunity     END -->

<script id="ItemModal.html" type="text/ng-template">
<div class="modal background_color" id="" ng-controller="ModelWindowController">

  <ion-header-bar class="bar bar-header ios_bar">
    <h1 class="title">Select an Item</h1>
    <button class="button button-clear" ng-click="closeItemModal()">Cancel</button>
  </ion-header-bar>

 <span id="modalWindow">
 <div class="bar bar-header item-input-inset top_margin_template">
            <label class="item-input-wrapper">
              <i class="icon ion-android-search placeholder-icon"></i>
              <input type="search" placeholder="Search"  ng-model="searchString">
            </label>
            <button class="button button-clear button-calm" ng-show="searchString" ng-click="clearSearch()" id="templateClearButton">
              X
            </button>
  </div></span>

  <ion-content class="has-header has-subheader reduced_top_margin" >  
      <ion-radio  ng-repeat="item in Items | filter:searchString" 
                  ng-click="setItem({{item}})"
                  ng-value="item.value">
      {{item.value}} 
      </ion-radio>

  </ion-content>
  </div>
</script>
</ion-scroll>
      <br><br><br><br><br><br><br><br><br><br><br>

</ion-content>
</ion-view>