<ion-view title="ADD ORDER"
          class="background_color">

	<ion-nav-buttons side="left">
        <button class="button button-clear" 
                ng-click="goTo()">
         		Cancel
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-clear" 
        	    ng-click="saveData()">
        	    Next
        </button>
    </ion-nav-buttons>

	<ion-content class="has-header content_margin">

		<div class="list " id="">
	
		<label class="item item-input">
	    <span class="input-label item-text-wrap">  <span class="small_font"> &#42;</span> Name</span>  </span>
	    <input  type="text" 
	            placeholder="Name"
				ng-model="order.entityvalue" 
	            class="col col-75" disabled>
	    </label>


	    <label class="item item-input">
	    <span class="input-label item-text-wrap"> <span class="small_font"> &nbsp;&nbsp;</span> Memo</span>  </span>
	    <input  type="text" 
	            placeholder="Memo" 
				ng-model="order.memo"
	            class="col col-75" >
	    </label>


			<!-- Section Divider -->
			<div class="item item-divider detailsLabel">
			Primary Information
			</div>



	    <label class="item item-input">
	    <span class="input-label item-text-wrap"><span class="small_font"> &#42;</span> Date </span>
	    <input  type="text" 
	            placeholder="Date"
					   ng-model="order.trandate" 
					   ng-click="opendateModal()" 
					   required readonly>
	    </label>

<label class="item item-input item-icon-right">
    <span class="input-label item-text-wrap"> <span class="small_font"> &nbsp;&nbsp;</span> Sales Rep </span>  </span>
    <input class="col col-75" 
            type="text"
          ng-click="fetchSalesReppList()" 
		   placeholder="Sales Rep" 
		   ng-model="order.salesrepvalue"    readonly>
    <i class="icon ion-android-dropdown"></i>
  </label>




		</div>

<script id="salesrepp.html" type="text/ng-template">
<div class="modal background_color" id="" ng-controller="ModelWindowController">

  <ion-header-bar class="bar bar-header ios_bar">
    <h1 class="title">Select Sales Rep.</h1>
    <button class="button button-clear" ng-click="closeSalesReppMadal()">Cancel</button>
  </ion-header-bar>

          <span id="modalWindow">
          <div class="bar bar-header item-input-inset top_margin_template">
            <label class="item-input-wrapper">
              <i class="icon ion-android-search placeholder-icon"></i>
              <input type="search" placeholder="Search"  ng-model="searchString">
            </label>
            <button class="button button-clear button-calm" ng-show="searchString" ng-click="clearSearch()" id="templateClearButton">
              X
            </button>
          </div></span>


  <ion-content class="has-header has-subheader reduced_top_margin" >  
      <ion-radio 	ng-repeat="representative in SalesRepp | filter:searchString"
			       ng-click="setSalesRepresaative({{representative}})"
			       ng-value="representative.value">
		{{representative.value}} 
      </ion-radio>

  </ion-content>
  </div>
</script>

		<script id="datemodal.html" type="text/ng-template">
			<div class="modal background_color">
				<header class="bar bar-header ios_bar">
				<h1 class="title">Date</h1>
				<button class="button button-clear" ng-click="cancel()">Cancel</button>
				</header>
				<ion-content has-header="true">
					<br><br>
					<div class="padding">
					<div pickadate ng-model="myDate"></div>
					</div>
					<button class="button button-full button_background" 
							ng-click="closedateModal(myDate)">
							Choose
					</button>
				</ion-content>
			</div>
		 </script>
		
</ion-scroll>
      <br><br><br><br> <br><br><br><br><br><br><br>
</ion-content>
</ion-view>