
<ion-view 	title="ADD QUOTE"
			class="background_color">

	<!-- Button Left -->   
	<ion-nav-buttons side="left">
        <button class="button button-clear" 
        		ng-click="goTo()">
        	Cancel
        </button>
    </ion-nav-buttons>

    <!-- Button Next --> 
    <ion-nav-buttons side="right">
        <button class="button button-clear" 
        		ng-click="saveData()">
        	Next
        </button>
    </ion-nav-buttons>
    
	<ion-content class="has-header content_margin">
 	 <ion-scroll direction="y">
  	<div class="list " id="">

		  <label class="item item-input">
      <span class="input-label item-text-wrap">  <span class="small_font"> &#42;</span> Name</span>  </span>
      <input  type="text" 
              placeholder="Name"  
               ng-model="quote.entityvalue" 
              class="col col-75" disabled>
      </label>

		


  		<div class="item item-divider detailsLabel">
    		Primary Information
  		</div>

	
      <label class="item item-input">
      <span class="input-label item-text-wrap"><span class="small_font"> &#42;</span> Date </span>
      <input  type="text" 
             placeholder=" Date"
             ng-model="quote.trandate" 
             ng-click="opendateModal('trandate')"
              readonly>
      </label>


  	
          <label class="item item-input item-icon-right">
          <span class="input-label item-text-wrap"><span  class="small_font"> &#42;</span>Custom Form </span>  </span>
          <input class="col col-75" 
                  type="text"
                  ng-model="quote.customformvalue" 
                  placeholder="Custom Form" 
                  ng-click="fetchCustomFormList()"   readonly>
          <i class="icon ion-android-dropdown"></i>
        </label>


         <label class="item item-input item-icon-right">
          <span class="input-label item-text-wrap"> <span class="small_font"> &nbsp;&nbsp;</span>Status </span>  </span>
          <input class="col col-75" 
                  type="text"
                  ng-model="quote.entitystatusvalue" 
                    placeholder="Status" 
                    ng-click="fetchStatusList()"  readonly>
          <i class="icon ion-android-dropdown"></i>
        </label>



       <label class="item item-input">
      <span class="input-label item-text-wrap"> <span class="small_font"> &nbsp;&nbsp;</span> Memo</span>  </span>
      <input  type="text" 
              placeholder="Memo" 
        ng-model="order.memo"
              class="col col-75" >
      </label>

       <label class="item item-input">
      <span class="input-label item-text-wrap"><span  class="small_font"> &#42;</span> Probability</span>  </span>
      <input  type="text" 
              placeholder="Probability" 
              ng-model="quote.probability"
              class="col col-75" >
      </label>

      <label class="item item-input item-icon-right">
      <span class="input-label item-text-wrap"> <span  class="small_font"> &#42;</span> Expected Close </span>
      <input class="col col-75" 
            type="text"
            placeholder="Expected Close date" 
            ng-model="quote.expectedclosedate" 
            ng-click="opendateModal('expectedclosedate')"  readonly>
      <i class="icon ion-android-dropdown"></i>
    </label>


    <label class="item item-input">
      <span class="input-label item-text-wrap"><span class="small_font"> &nbsp;&nbsp;</span> Due Date /Receive by </span>
      <input  type="text" 
              placeholder=" Due date" 
              ng-model="quote.duedate" 
              ng-click="opendateModal('duedate')"
             required readonly>
      </label>

       <label class="item item-input">
      <span class="input-label item-text-wrap"> <span class="small_font"> &nbsp;&nbsp;</span> Memo</span>  </span>
      <input  type="text" 
              placeholder="Memo" 
              ng-model="quote.memo"
              class="col col-75" >
      </label>


	</div>

<script id="CustomForm.html" type="text/ng-template">
<div class="modal background_color" id="" ng-controller="ModelWindowController">

  <ion-header-bar class="bar bar-header ios_bar">
    <h1 class="title">Select Custom Form</h1>
    <button class="button button-clear" ng-click="closeCustomFormModal()">Cancel</button>
  </ion-header-bar>

         <span id="modalWindow">
          <div class="bar bar-header item-input-inset top_margin_template">
            <label class="item-input-wrapper">
              <i class="icon ion-android-search placeholder-icon"></i>
              <input type="search" placeholder="Search"  ng-model="searchString">
            </label>
            <button class="button button-clear button-calm" ng-show="searchString" ng-click="clearSearch()" id="templateClearButton">
              X
            </button>
          </div></span>


  <ion-content class="has-header has-subheader reduced_top_margin" >  
      <ion-radio 	ng-repeat="customform in CustomForms | filter:searchString" 
  					ng-click="setCustomForms({{customform}})" 
  					ng-value="customform.value">
	{{customform.value}}
      </ion-radio>

  </ion-content>
  </div>
</script>

<script id="Status.html" type="text/ng-template">
<div class="modal background_color" id="" ng-controller="ModelWindowController">

  <ion-header-bar class="bar bar-header ios_bar">
    <h1 class="title">Select a Status</h1>
    <button class="button button-clear" ng-click="closeStatusModal()">Cancel</button>
  </ion-header-bar>

         <span id="modalWindow">
          <div class="bar bar-header item-input-inset top_margin_template">
            <label class="item-input-wrapper">
              <i class="icon ion-android-search placeholder-icon"></i>
              <input type="search" placeholder="Search"  ng-model="searchString">
            </label>
            <button class="button button-clear button-calm" ng-show="searchString" ng-click="clearSearch()" id="templateClearButton">
              X
            </button>
          </div></span>


  <ion-content class="has-header has-subheader reduced_top_margin" >  
      <ion-radio ng-repeat="statusType in Statuses | filter:searchString" 
		  			ng-click="setStatus({{statusType}})" 
		  			ng-value="statusType.value">
		{{statusType.value}}
      </ion-radio>

  </ion-content>
  </div>
</script>




<!--Date Model Window-->
<script id="datemodal.html" type="text/ng-template">
	<div class="modal background_color">
		<header class="bar bar-header ios_bar">
			<h1 class="title">Date</h1>
			<button class="button button-clear" 
					ng-click="cancel()">
					Cancel
			</button>
		</header>
		<ion-content has-header="true">
		<br><br>
			<div class="padding">
				<div pickadate ng-model="myDate"></div>
			</div>
		<button class="button button-full button_background" 
				ng-click="closedateModal(myDate)">
				Choose
		</button>
		</ion-content>
	</div>
</script>
</ion-scroll>
      <br><br><br><br><br><br><br><br>
</ion-content>
</ion-view>