<!-- Add Opportunity Page -->
<ion-view title="{{pageTitle}}"
          class="background_color">

  <!-- Button Left -->
<ion-nav-buttons side="left">

<!-- Button Cancel -->
<button class="button button-clear" 
        ng-click="goTo()">
   Cancel
</button>
</ion-nav-buttons>

<!-- Button Right -->
<ion-nav-buttons side="right">

<!-- Button Save -->
<button class="button button-clear" 
        ng-click="saveData()">
    Save
</button>
</ion-nav-buttons>

<ion-content class="has-header">
<!-- Form to Fill up details of Opportunity      START -->
<!-- Its a combination of multiple lists as per sections -->
<!-- Head Section START-->
<div class="list content_margin" id="">

 <label class="item item-input">
  <span class="input-label">
    <span class="small_font"> &#42;</span> 
    Company Name</span>

  <input type="text" 
        placeholder="Company Name" 
        value="Aashna Cloudtech" 
        disabled style="color:#333;">
</label>


<!-- Section Divider -->
  <div class="item item-divider detailsLabel">
    Forcasting
  </div>

   <label class="item item-input">
      <span class="input-label">
        <span class="small_font"> &#42;</span>
        Projected Total</span>
      <input type="text" placeholder="Projected Total">
   </label>

  <label class="item item-input">
    <span class="input-label">
      <span class="small_font"> &nbsp;&nbsp;</span>
      Forcast Type</span>
    <div class="item item-input pull-right" ng-click="modal1.show()"> 
    <input type="text"  placeholder="Forcast Type">
  <i class="icon ion-android-dropdown iconColor"></i>
    </div>
  </label>
  
  <label class="item item-input">
    <span class="input-label">
      <span class="small_font"> &nbsp;&nbsp;</span>
      Weighted Total:</span>
    <input type="text" placeholder="Weighted Total">
  </label>


<!--FORCASTING Section END-->

<!--PRIMARY INFORMATION Section START-->
<!-- Section Divider -->
  <div class="item item-divider detailsLabel">
    Primary Information
  </div>

   <label class="item item-input">
    <span class="input-label">
      <span class="small_font"> &nbsp;&nbsp;</span>
      Title</span>
    <input type="text" placeholder="Title">
   </label>

  <label class="item item-input">
    <span class="input-label">
      <span class="small_font"> &nbsp;&nbsp;</span>
      Sales Rep</span>
    <div class="item item-input pull-right" ng-click="modal3.show()"> 
  <input type="text"   placeholder="Sales Representative">
  <i class="icon ion-android-dropdown iconColor"></i>
    </div>
  </label>

   <!-- Status with Modal window -->
 <label class="item item-input">
  <span class="input-label">
     <span class="small_font"> &nbsp;&nbsp;</span>
    <span class="row">         
       <div class="right-inner-addon">
        <i class="icon ion-android-dropdow iconColorn"></i>
        <input type="search"
               class="" 
                ng-model="customer.entitystatusvalue" 
                placeholder="Status" 
                ng-click="Status.show()"
                readonly />
      </div>
    </span> 
  </label>

  <label class="item item-input">
    <span class="input-label">*Probability</span>
    <input type="text" placeholder="Probability">
  </label>

  <label class="item item-input">
    <span class="input-label">
      <span class="small_font"> &nbsp;&nbsp;</span>
      Expected Close</span>
    <input type="text" placeholder="Expected Close">
  </label>

</div>

 <script id="ForcastType.html" type="text/ng-template">
            <div class="modal">
              <header class="bar bar-header bar-dark">
                <h1 class="title">Select Forcast Type</h1>
                <button class="button button-clear" ng-click="closeForcastType()">Cancel</button>
              </header>
              <ion-content has-header="true" padding="true">


  <div class="list list-inset" id="modalwindow">
                      <label class="item item-input">
                        <i class="icon ion-android-search placeholder-icon"></i>
                        <input type="text" placeholder="Search">
                      </label>
                    </div>

                    <ion-list>
                      <ion-item ng-repeat="types in Type">
                        <span class="">
                       {{types}}
                        </span>   
                      </ion-item>
                </ion-list>

              </ion-content>
            </div>
        </script>


  <script id="modal2.html" type="text/ng-template">
            <div class="modal">
              <header class="bar bar-header bar-dark">
                <h1 class="title">Select Sales Rep.</h1>
                <button class="button button-clear" ng-click="closeModal3()">Cancel</button>
              </header>
              <ion-content has-header="true" padding="true">

  <div class="list list-inset" id="modalwindow">
                      <label class="item item-input">
                        <i class="icon ion-android-search placeholder-icon"></i>
                        <input type="text" placeholder="Search">
                      </label>
                    </div>

                    <ion-list>
                      <ion-item ng-repeat="representative in SalesRepp">
                        <span class="">
                        {{representative}}
                        </span>   
                      </ion-item>
                </ion-list>


                <div class="list">
                    <label class="item item-input">
                      <i class="icon ion--android-search placeholder-icon"></i>
                      <input type="text" placeholder="Search" >
                    </label>   
                  <label class="item item-input " >
                    <span class="label text_center" ></span>             
                  </label>
                </div>
              </ion-content>
            </div>
        </script>

 <script id="Status.html" type="text/ng-template">
            <div class="modal text_center">
              <header class="bar bar-header bar-dark">
                <h1 class="title">Choose Status</h1>
                <button class="button button-clear" ng-click="closeStatus()">Cancel</button>
              </header>
              <ion-content has-header="true" padding="true">

  <div class="list list-inset">
                      <label class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="text" placeholder="Search">
                      </label>
                    </div>

                    <ion-list>
                      <ion-item ng-repeat="statusType in Statuses">
                        <span class="" >
                        {{statusType}}
                        </span>   
                      </ion-item>
                </ion-list>
              </ion-content>
            </div>
</script>





</ion-content>
</ion-view>