<!-- Add Opportunity Page -->
<ion-view title="ADD ITEMS"          
          class="background_color">

  <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios7-arrow-left" ng-click="goTo()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="saveData()">Summary</button>
    </ion-nav-buttons>
<ion-content class="has-header">


<ul class="list content_margin">

  <li ng-if="messageFlag=='true'" class="Result_Message padding">{{message}}</li>
  <li class="item item-checkbox" ng-repeat="item in Item">
     <label class="checkbox">
       <input type="checkbox" ng-model="state" ng-change="selectItems(item.item,state)">
     </label>
     {{item.itemvalue}}<br>
     Qty:{{item.quantity}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <span class="pull-right" align="right">Amt: $ {{item.amount}}</span>
  </li>

  
</ul>



<!--PRIMARY INFORMATION Section END-->
<!-- Form to Fill up details of Opportunity     END -->

</ion-content>
<!-- Footer -->
<ion-footer-bar class="bar-color">


<button ng-if="counter > 0" class="button button-clear icon ion-ios7-trash-outline" ng-click="showFinalList()">
</button>

<button class="button button-clear " >
</button>

<button class="button button-clear icon ion-ios7-plus-empty" 
       ng-click="show()">
</button>



</ion-footer-bar>

</ion-view>