<!-- Add Opportunity Page -->
<ion-view   title="{{pageTitle}}" 
            class="background_color">

    <ion-nav-buttons side="left">
        <button class="button button-clear" 
                ng-click="goTo()">
                Cancel
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-clear" 
                ng-click="saveData()">
                Next
        </button>
    </ion-nav-buttons>

    <ion-content class="has-header content_margin">

        <div class="list " id="">

             <label class="item item-input">
    <span class="input-label item-text-wrap">  <span class="small_font"> &#42;</span>Company Name</span>  </span>
    <input  type="text" 
             ng-click="modal.show()" 
             placeholder="Name" 
             ng-model="opportunityObject.entityvalue" 
           class="col col-75" disabled>
  </label>

            <div class="item item-divider detailsLabel">
            Primary Information
            </div>

            <label class="item item-input">
            <span class="input-label item-text-wrap"> <span class="small_font"> &nbsp;&nbsp;</span> Title </span>  </span>
            <input  type="text" 
                    placeholder="Projected Total" 
                    ng-model="opportunityObject.title"
                    class="col col-75">
          </label>

          <label class="item item-input item-icon-right">
          <span class="input-label item-text-wrap"> <span class="small_font"> &nbsp;&nbsp;</span> Sales Rep </span>  </span>
          <input class="col col-75" 
                  type="text"
                  placeholder="Sales Rep" 
                   ng-click="fetchSalesReppList()" 
                   ng-model="opportunityObject.salesrepvalue"    readonly>
          <i class="icon ion-android-dropdown"></i>
        </label>

         <label class="item item-input item-icon-right">
            <span class="input-label item-text-wrap"> <span class="small_font"> &nbsp;&nbsp;</span> Status </span>  </span>
            <input class="col col-75" 
                    type="text"
                    placeholder="Status" 
                   ng-click="fetchStatusList()" 
                   ng-model="opportunityObject.entitystatusvalue"     readonly>
            <i class="icon ion-android-dropdown"></i>
          </label>

        <label class="item item-input">
          <span class="input-label item-text-wrap"> <span class="small_font"> &#42;</span> Probability </span>  </span>
          <input  type="text" 
                  placeholder="Probability" 
                  ng-model="opportunityObject.probability"
                  class="col col-75">
        </label>

      <label class="item item-input">
        <span class="input-label item-text-wrap"> <span class="small_font"> &#42;</span> Expected Close </span>  </span>
        <input  type="text" 
                placeholder="Expected Close" 
               ng-click="opendateModal()" 
               ng-model="opportunityObject.expectedclosedate" 
                class="col col-75" readonly>
      </label>

            <div class="item item-divider detailsLabel">
            Forecasting
            </div>


           <label class="item item-input item-icon-right">
            <span class="input-label item-text-wrap"> <span class="small_font"> &nbsp;&nbsp;</span> Forecast Type </span>  </span>
            <input class="col col-75" 
                    type="text"
                     placeholder="Forecast Type" 
                     ng-click="fetchForcastTypeList()" 
                     ng-model="opportunityObject.forecasttypevalue"  readonly>
            <i class="icon ion-android-dropdown"></i>
          </label>
              

              <label class="item item-input">
    <span class="input-label item-text-wrap"> <span class="small_font"> &nbsp;&nbsp;</span> Weighted Total </span>  </span>
    <input  type="text" 
            placeholder="Weighted Total"
           ng-model="opportunityObject.weightedtotal"
            class="col col-75">
  </label>
       </div>

<script id="ForcastType.html" type="text/ng-template">
<div class="modal background_color" id="" ng-controller="ModelWindowController">

  <ion-header-bar class="bar bar-header ios_bar">
    <h1 class="title">Select a Forecast Type</h1>
    <button class="button button-clear" ng-click="closeForcastTypeModal()">Cancel</button>
  </ion-header-bar>

 <span id="modalWindow">
 <div class="bar bar-header item-input-inset top_margin_template">
            <label class="item-input-wrapper">
              <i class="icon ion-android-search placeholder-icon"></i>
              <input type="search" placeholder="Search"  ng-model="searchString">
            </label>
            <button class="button button-clear button-calm" ng-show="searchString" ng-click="clearSearch()" id="templateClearButton">
              X
            </button>
          </div></span>

  <ion-content class="has-header has-subheader reduced_top_margin" >  
      <ion-radio  ng-repeat="types in ForecastType | filter:searchString" 
        ng-click="setForcastType({{types}})" 
        ng-value="types.value">
      {{types.value}}
      </ion-radio>

  </ion-content>
  </div>
</script>

<script id="salesrepp.html" type="text/ng-template">
<div class="modal background_color" id="" ng-controller="ModelWindowController">

  <ion-header-bar class="bar bar-header ios_bar">
    <h1 class="title">Select a Sales Rep</h1>
    <button class="button button-clear" ng-click="closeSalesReppMadal()">Cancel</button>
  </ion-header-bar>

 <span id="modalWindow">
 <div class="bar bar-header item-input-inset top_margin_template">
            <label class="item-input-wrapper">
              <i class="icon ion-android-search placeholder-icon"></i>
              <input type="search" placeholder="Search"  ng-model="searchString">
            </label>
            <button class="button button-clear button-calm" ng-show="searchString" ng-click="clearSearch()" id="templateClearButton">
              X
            </button>
          </div></span>

  <ion-content class="has-header has-subheader reduced_top_margin" >  
      <ion-radio   ng-repeat="representative in SalesRepp | filter:searchString" 
                  ng-click="setSalesRepresaative({{representative}})" 
                  ng-value="representative.value">
      {{representative.value}}
      </ion-radio>

  </ion-content>
  </div>
</script>

<!--SalesRepp Model Window-->



<script id="Status.html" type="text/ng-template">
<div class="modal background_color" id="" ng-controller="ModelWindowController">

  <ion-header-bar class="bar bar-header ios_bar">
    <h1 class="title">Select a Status</h1>
    <button class="button button-clear" ng-click="closeStatusModal()">Cancel</button>
  </ion-header-bar>

 <span id="modalWindow">
 <div class="bar bar-header item-input-inset top_margin_template">
            <label class="item-input-wrapper">
              <i class="icon ion-android-search placeholder-icon"></i>
              <input type="search" placeholder="Search"  ng-model="searchString">
            </label>
            <button class="button button-clear button-calm" ng-show="searchString" ng-click="clearSearch()" id="templateClearButton">
              X
            </button>
          </div></span>

  <ion-content class="has-header has-subheader reduced_top_margin" >  
      <ion-radio   ng-repeat="statusType in Statuses | filter:searchString" 
                    ng-click="setStatus({{statusType}})" 
                    ng-value="statusType.value">
      {{statusType.value}}
      </ion-radio>

  </ion-content>
  </div>
</script>



<!--Date Model Window-->
    <script id="datemodal.html" type="text/ng-template">
            <div class="modal background_color">
                <header class="bar bar-header ios_bar">
                  <h1 class="title">Date</h1>
                  <button class="button button-clear" ng-click="cancel()">Cancel</button>
                </header>
                <ion-content has-header="true">
                  <br><br>
                   
                    <div class="padding">
                      <div pickadate ng-model="myDate"></div>
                    </div>
                    
                     <button class="button button-full button_background" ng-click="closedateModal(myDate)">Choose</button>
                   
                </ion-content>
              </div>
         </script>

  </ion-scroll>
  <br><br><br><br><br><br><br><br>

    </ion-content>
</ion-view>