<!-- Add Opportunity Page -->
<ion-view title="Item Details"
          class="background_color">

<ion-nav-buttons side="left">

        <button class="button button-icon icon ion-ios7-arrow-left" 
                ng-click="goBack()"></button>
    </ion-nav-buttons>

<ion-content class="has-header subpadding" ng-show="showPage">

<div class="card">
    <div class="item item-text-wrap">

    <!--strong class="col col-100"> COMPUTING: System (5072) : Desktop: HP</strong>
  	<p>Quantity: 10  <span class="pull-right">Amount Total: 229990.00</span></p-->
  		<table width=100% border=0 ng-repeat="item in valueArray">
  			<tr>
  				<td colspan=3>
            <h2 class="text_oveflow">{{item.itemvalue}}</h2>
  			</tr>
  			<tr>
  				<td class="detailsinfo">
           <p> Quantity &nbsp;:&nbsp;{{item.quantity }} </p>
  				<td align="right" class="detailsinfo">
           <P> Amount Total&nbsp;:&nbsp;$ {{item.amount}}</P>
  			</tr>
            <tr><td colspan=3>  <hr>
            </tr>
  		</table>
    </div>
</div>

<div class="list" >
 <div class="item-text-wrap itemDetails" style="border:none;">
                <table align="right">


                    <tr ng-if="page == 'OPPORTUNITY'">
                    <td class="detailsTitle">Projected Total</td>
                    <td>&nbsp;&nbsp;&nbsp;:&nbsp;</td>
                    <td class="detailsinfo"> $ {{projectedTotal}}</td>
                    </tr>

                    <tr ng-if="page == 'OPPORTUNITY'">
                    <td class="detailsTitle">Weighted Total</td>
                    <td>&nbsp;&nbsp;&nbsp;:&nbsp;</td>
                    <td class="detailsinfo"> $ {{weightedAmount}}</td>
                    </tr>

                    <tr ng-if="page == 'QUOTE' || page == 'ORDER'">
                    <td class="detailsTitle">Amount (Tax Total) </td>
                    <td>&nbsp;&nbsp;&nbsp;:&nbsp;</td>
                    <td class="detailsinfo">$ {{amountTaxTotal}}</td>
                    </tr>

                    <tr ng-if="page == 'QUOTE' || page == 'ORDER'">
                    <td class="detailsTitle">Amount (Shipping) </td>
                    <td>&nbsp;&nbsp;&nbsp;:&nbsp;</td>
                    <td class="detailsinfo">$ {{amountShipping}}</td>
                    </tr>

                    <tr ng-if="page == 'QUOTE' || page == 'ORDER'">
                    <td class="detailsTitle">Amount </td>
                    <td>&nbsp;&nbsp;&nbsp;:&nbsp;</td>
                    <td class="detailsinfo">$ {{amount}}</td>
                    </tr>

                  </table>
</div>
</div>

</ion-content>
</ion-view>