<ion-view title="ORDER DETAIL"
          class="background_color">

    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios7-arrow-left" 
                ng-click="goBack()">
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios7-compose-outline" 
                ng-click="goToEdit()" ng-show="editOrder">
        </button>
    </ion-nav-buttons>

    <ion-content class="has-header subpadding" ng-show="showPage">

         <!-- Page Contents Start -->

        <div class="list" id="details">

            <div class="item item-thumbnail-left border_color">
                <img src="img/Flaticon_33308.png">
                <div ng-repeat="item in headerData">
                    <h2 ng-if="$first">{{item.value}} </h2>
                    <p ng-if="!$first" class=""> {{item.label}} : {{item.value}} </p>
                </div> 
            </div>

            <!-- Primary Information Section Start-->
            <div class="item border_color item-divider detailsLabel">
            Primary Information
            </div>
            
            <div class="item border_color item-text-wrap" style="padding-left:10px;">
                <table>
                    <tr ng-repeat="item in primaryInfoData">
                    <td class="detailsTitle">{{item.label}}</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td class="detailsinfo">{{item.value}}</td>
                    </tr>
                </table>
            </div>

            <!-- Total Amount Section Start -->
                <div class="item  item-divider detailsLabel">
                Total Amount
                </div>
                <div class="item  item-text-wrap" style="padding-left:10px;">
                    <table>
                        <tr ng-repeat="item in totalAmountData">
                        <td class="detailsTitle">{{item.label}}</td>
                        <td>&nbsp;:&nbsp;</td>
                        <td class="detailsinfo">$ {{item.value}}</td>
                        </tr>
                    </table>
                </div>
            <!--Total Amount Section End -->

            <!-- Items Link Start -->
            <a class="item item-icon-left item-icon-right detailsButtoncolors" ng-click="goto()">
                <span class="">
                    <i class="icon ion-filing"></i>
                    ITEMS
                    <i class="icon ion-ios7-arrow-right"></i>
                </span>
            </a>
             <!-- Items Link End -->
 <!-- Page Contents End -->

    </ion-content>
</ion-view>