<ion-view title="QUOTE DETAIL">

    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios7-arrow-left" 
                ng-click="goBack()">
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios7-compose-outline" 
                ng-click="goToEdit()" ng-show="editQuote">
        </button>
    </ion-nav-buttons>

    <ion-content class="has-header subpadding" ng-show="showPage">

        <!-- Page Contents Start -->

        <div class="list" id="details">

            <div class="item item-thumbnail-left border_color">
                <img src="img/Flaticon_33308.png">
                <div ng-repeat="item in headerData">
                    <h2 ng-if="$first">{{item.value}}</h2>
                    <p style="text-indent: 4em;"></p>
                </div> 
            </div>


            <!-- Primary Information Section Start-->

            <div class="item  item-divider detailsLabel">
            Primary Information
            </div>

            <div class="item  item-text-wrap" 
                 style="padding-left:10px;">
                <table>
                    <tr ng-repeat="item in primaryInfoData">
                    <td class="detailsTitle">{{item.label}}</td>
                    <td>&nbsp;&nbsp;:&nbsp;</td>
                    <td class="detailsinfo">{{item.value}}</td>
                    </tr>
                </table>
            </div>


            <!-- Total Amount Section Start -->
            <div class="item  item-divider detailsLabel">
            Total Amount
            </div>
            <div class="item  item-text-wrap" 
                 style="padding-left:10px;">
                <table>
                    <tr ng-repeat="item in totalAmountData">
                    <td class="detailsTitle">{{item.label}}</td>
                    <td>&nbsp;&nbsp;&nbsp;:&nbsp;</td>
                    <td class="detailsinfo">$ {{item.value}}</td>
                    </tr>
                </table>
            </div>

            <!--Total Amount Section End -->

            <!-- Items Link Start -->
            <a class="item  item-icon-left item-icon-right detailsButtoncolors" 
               ng-click="goto()">
                <span class="">
                    <i class="icon ion-filing"></i>
                    ITEMS
                    <i class="icon ion-ios7-arrow-right"></i>
                </span>
            </a>
            <!-- Items Link End -->

        </div>
    <br><br><br>

    </ion-content>
    <!-- Page Contents End -->

    <div class="bar bar-footer bar-color">
           
            <button ng-if="pageName =='QUOTE' || type !='QUOTE'"
                    ng-click="show()" 
                    class="single_footer_button_2 button button-clear" >
                Convert to Sales Order
            </button>
    </div>

</ion-view>