<!-- Add Opportunity Page -->
<ion-view   title="SUMMARY"
            class="background_color">

      <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios7-arrow-left" 
                ng-click="goTo()"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-clear" 
                ng-click="saveData()">
                Save
        </button>
    </ion-nav-buttons>
<ion-content class="has-header">


<div class="list">
 <div class="item  item-text-wrap" 
                 style="padding-left:10px;">
                <table>


                    <tr >
                    <td class="detailsTitle">Comapny Name</td>
                    <td>&nbsp;&nbsp;&nbsp;:&nbsp;</td>
                    <td class="detailsinfo">{{opportunityArray.entityvalue}}</td>
                    </tr>

                    <tr ng-if="title == 'addOpportunity' || title == 'editTransaction'">
                    <td class="detailsTitle">Title</td>
                    <td>&nbsp;&nbsp;&nbsp;:&nbsp;</td>
                    <td class="detailsinfo">{{opportunityArray.title}}</td>
                    </tr>

                    <tr ng-if="title == 'addQuote' || title == 'editQuote' || title == 'addOrder' || title == 'editOrder'">
                    <td class="detailsTitle">Date</td>
                    <td>&nbsp;&nbsp;&nbsp;:&nbsp;</td>
                    <td class="detailsinfo">{{opportunityArray.trandate}}</td>
                    </tr>

                    <tr ng-if="title == 'addQuote' || title == 'editQuote'">
                    <td class="detailsTitle">Custom Form</td>
                    <td>&nbsp;&nbsp;&nbsp;:&nbsp;</td>
                    <td class="detailsinfo">{{opportunityArray.customformvalue}}</td>
                    </tr>

                    <tr ng-if="title == 'addOrder' || title == 'editOrder' || title == 'addOpportunity' || title == 'editTransaction'">
                    <td class="detailsTitle">Sales Rep</td>
                    <td>&nbsp;&nbsp;&nbsp;:&nbsp;</td>
                    <td class="detailsinfo">{{opportunityArray.salesrepvalue}}</td>
                    </tr>

                    <tr ng-if="title == 'addOpportunity' || title == 'editTransaction'||title == 'addQuote' || title == 'editQuote'">
                    <td class="detailsTitle">Status</td>
                    <td>&nbsp;&nbsp;&nbsp;:&nbsp;</td>
                    <td class="detailsinfo">{{opportunityArray.entitystatusvalue}}</td>
                    </tr>

                    <tr ng-if="title == 'addOpportunity' || title == 'editTransaction'||title == 'addQuote' || title == 'editQuote'">
                    <td class="detailsTitle">Probability</td>
                    <td>&nbsp;&nbsp;&nbsp;:&nbsp;</td>
                    <td class="detailsinfo">{{opportunityArray.probability}}</td>
                    </tr>

                    <tr ng-if="title == 'addOpportunity' || title == 'editTransaction'||title == 'addQuote' || title == 'editQuote'">
                    <td class="detailsTitle">Expected Close</td>
                    <td>&nbsp;&nbsp;&nbsp;:&nbsp;</td>
                    <td class="detailsinfo">{{opportunityArray.expectedclosedate}}</td>
                    </tr>

                    <tr ng-if="title == 'addOpportunity' || title == 'editTransaction'">
                    <td class="detailsTitle">Forecast Type</td>
                    <td>&nbsp;&nbsp;&nbsp;:&nbsp;</td>
                    <td class="detailsinfo">{{opportunityArray.forecasttypevalue}}</td>
                    </tr>

                    <tr ng-if="title == 'addQuote' || title == 'editQuote'">
                    <td class="detailsTitle">Due Date/Receive By</td>
                    <td>&nbsp;&nbsp;&nbsp;:&nbsp;</td>
                    <td class="detailsinfo">{{opportunityArray.duedate}}</td>
                    </tr>

                    <tr ng-if="title == 'addOpportunity' || title == 'editTransaction'">
                    <td class="detailsTitle">Weighted Total</td>
                    <td>&nbsp;&nbsp;&nbsp;:&nbsp;</td>
                    <td class="detailsinfo">{{opportunityArray.weightedtotal}}</td>
                    </tr>

                    <tr ng-if="title == 'addQuote' || title == 'editQuote' || title == 'addOrder' || title == 'editOrder'">
                    <td class="detailsTitle">Memo</td>
                    <td>&nbsp;&nbsp;&nbsp;:&nbsp;</td>
                    <td class="detailsinfo">{{opportunityArray.memo}}</td>
                    </tr>


                </table>
            </div>


            <div class="row table summaryTitle">
            <div class="col">Item</div>
            <div class="col">Amt</div>
            <div class="col">Qty</div>
            <div class="col">Tax Amt</div>
            <div class="col">Rate</div>
            </div>
  <hr>

            <div class="row" ng-repeat="item in itemData">
            <div class="col">{{item.item}}</div>
            <div class="col">$ {{item.amount}}</div>
            <div class="col">{{item.quantity}}</div>
            <div class="col">{{item.custcol_custtaxamt}}</div>
            <div class="col">{{item.rate}}</div>
          </div>




<!--PRIMARY INFORMATION Section END-->
<!-- Form to Fill up details of Opportunity     END -->

</ion-content>
</ion-view>