<!-- Main Page for Transaction Section -->
<ion-view   title="{{title}}" 
            ng-init="listPage()"
            class="background_color">

<!-- Button Left (Menu) -->         
<ion-nav-buttons side="left">
<button ng-hide="pageTitle == 'LAST 5 QUOTES' || pageTitle == 'LAST 5 ORDERS'" 
        menu-toggle="left" 
        class="button button-icon icon ion-navicon">
</button>
<button ng-show="pageTitle == 'LAST 5 QUOTES' || pageTitle == 'LAST 5 ORDERS'" 
        class="button button-icon icon ion-ios7-arrow-left" 
        ng-click="goHome()">
</button>

</ion-nav-buttons>


<div class="bar bar-subheaderr item-input-inset">
  <div class="list">
    <label id="search-box" class="bar bar-header item-input-inset search-box-margin">
        <div class="item-input-wrapper" class="">
          <i class="icon ion-android-search placeholder-icon"></i>
          <input type="search" placeholder="Search" ng-model="searchString" >
          <button class="button button-clear button-calm" ng-show="searchString" ng-click="clearSearch()"> X
            </button>
        </div>      
    </label>
  </div>
</div>



<ion-content class="has-header has-subheader ">

<!-- List To be Displayed Start-->

<div class="list">

    <div ng-if="newflag == 'true' && pageTitle != 'LAST 5 ORDERS' && pageTitle != 'LAST 5 QUOTES'" id="searchButton">
      <span class="Result_Message padding"> No results found. Continue 
      <button class="button button-clear button-positive searchButton" ng-click="mySearchList()">Search</button>
      on server. </span>
  </div>

    <div class="item padding" ng-if="newflag == 'true' && (pageTitle == 'LAST 5 ORDERS' || pageTitle == 'LAST 5 QUOTES')">{{message}}
    </div>

    <div ng-if="messageFlag == 'true'" class="error padding">{{message}}
    </div>
    <!-- Division with ng-repeat and Filters for Search -->
    <div ng-repeat="item in listArray | filter:searchString">

      <!-- Anchor to next Page  -->
      <a class="item item-icon-left item-icon-right" ng-click="setListItemId(item.id)">

        <i ng-if="pageTitle == 'OPPORTUNITY'" class="icon ion-folder"></i>
        <i ng-if="pageTitle == 'QUOTE' || pageTitle=='LAST 5 QUOTES'" class="icon ion-document-text"></i>
        <i ng-if="pageTitle == 'ORDER' || pageTitle=='LAST 5 ORDERS'" class="icon ion-pricetags"></i>




        <!-- <div ng-if="pageTitle == 'OPPORTUNITY'" ng-mouseover="loadNextData($index)"> -->
        <div ng-if="pageTitle == 'OPPORTUNITY'"> <!-- ngm-touch="loadNextData($index)"> -->
            <div ng-init="item.companyName = item['Company Name']"></div>
            <div ng-init="item.expectedClose = item['Expected Close']"></div>
            <div ng-init="item.projectedTotal = item['Projected Total']"></div>

            <h2>{{item.companyName}}</h2>
            <p>
            <span class="text_overflow ">{{item.expectedClose}}</span><br>
            
            <span class="text_overflow reduced-top-margin ">$ {{item.projectedTotal}}</span></p>
        </div>



        <div ng-if="pageTitle == 'QUOTE' || pageTitle=='LAST 5 QUOTES'"> <!-- ng-mouseover="loadNextData($index)"> -->
            <h2>{{item.Name}}</h2>
            <p>
           <span class="text_overflow ">{{item.Status}}</span><br>
          
            <span class="text_overflow reduced-top-margin ">$ {{item.Amount}}</span></p>
        </div>

        <div ng-if="pageTitle == 'ORDER' || pageTitle=='LAST 5 ORDERS'"> <!-- ng-mouseover="loadNextData($index)"> -->
            <h2>{{item.Name}}</h2>
            <p>
            <span class="text_overflow">{{item.Status}}</span><br>
            
            <span class="text_overflow reduced-top-margin ">$ {{item.Amount}}</span></p>
        </div>

        <i class="icon ion-ios7-arrow-right chevron_color"></i>
    </a>
</div>

     <div style="margin-top:10px;" class="card" 
      ng-show="mainArray.length && (pageTitle != 'LAST 5 QUOTES' || pageTitle != 'LAST 5 ORDERS') && newflag != 'true' && messageFlag != 'true' && counter == 0">
    <button ngm-touch="loadNextData1()" style="margin-top:0px;margin-bottom:0px;" class="button button-block button-calm">
      <i class="icon ion-refresh"></i>
      Load More
    </button>
    </div>

    <div id="caseList"><div ng-show="showMessage && (pageTitle != 'LAST 5 QUOTES' || pageTitle != 'LAST 5 ORDERS') && counter == 0 && newflag != 'true'" class="item item-icon-left item-assertive">
      <i class="icon"></i>
      No More Records
    </div>
</div>
</div>
<!-- List To be Displayed End -->
<br>
</ion-content>

<!-- Footer -->
<ion-footer-bar class="bar-color">

<!-- Button Left (Sort)-->
<button class="button button-clear footer_icon icon icon-sort-name-up" 
        ng-click="show()" id="footer_button">
</button>

<!-- Button Right (Refresh)-->
<button class="button button-clear icon ion-ios7-refresh-empty" 
        ng-click="init()">
</button>

</ion-footer-bar>

</ion-view>