<ion-view title="{{pageTitle}}"
          class="background_color">

    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios7-arrow-left"   
                ng-click="goBack()">
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios7-compose-outline" 
                ng-click="goToEdit()" ng-show="editOpportunity">
        </button>
    </ion-nav-buttons>

    <ion-content class="has-header subpadding" ng-show="showPage">

        <div class="list" id="details">
            <div class="item item-thumbnail-left ">
                <img src="img/Flaticon_33308.png">
                    <div ng-repeat="item in headerData">
                    <h2 ng-if="$first">{{item.value}}</h2>
                    <p  style="text-indent: 4em;"></p>
                    </div>       
            </div>
        
            <!-- Primary Information Section Start-->

            <div class="item  item-divider detailsLabel">
                Primary Information
            </div>

            <div class="item" 
                 style="padding-left:10px;">
                <table>
                    <tr ng-repeat="details in primaryInfoData">
                        <td class="detailsTitle">{{details.label}}</td>
                        <td>&nbsp;:&nbsp;</td>
                        <td class="detailsinfo text_overflow">{{details.value}}</td>
                    </tr>
                </table>
            </div>

            <!-- Primary Information Section End-->


            <!-- Forcasting Section Start -->
            <div class="item  item-divider detailsLabel">
                Forcasting
            </div>

            <div class="item  item-text-wrap" 
                 style="padding-left:10px;">
                <table>
                    <tr ng-repeat="details in forecastingData">
                        <td class="detailsTitle">{{details.label}}</td>
                        <td> &nbsp;&nbsp;:&nbsp;</td>
                        <td class="detailsinfo">{{details.value}}</td>
                    </tr>
                </table>
            </div>
            <!-- Forcasting Section End -->

             <!-- Items Link Start -->

            <a class="item item-icon-left item-icon-right detailsButtoncolors" ng-click="goto()">
                <span class="">
                <i class="icon ion-filing"></i>
                ITEMS
                <i class="icon ion-ios7-arrow-right"></i>
                </span>
            </a>
            <!-- Items Link End -->

            <!-- Page Contents End -->
        </div>
    <br><br><br><br>
    </ion-content>
        <!-- Footer Start -->

        <div class="bar bar-footer bar-color" 
             ng-if="goto_type=='OPPORTUNITY'">
            <button ng-click="show()" 
                    class="single_footer_button button button-clear" >
                Convert
            </button>
        </div>

        <div class="bar bar-footer bar-color" 
             ng-if="goto_type=='QUOTE'">

            <button  ng-click="show()" 
                    class="single_footer_button button button-clear">
                Convert TO Sales Order
            </button>
        </div>        
        <!-- Footer End -->
</ion-view>