
.bar-color{
    /*background-color: #13527D;*/
    background-color: #3d3d3d;
    min-height: 55px;
}

.item.bar-color {
    color: #fff;
    background-color: #3d3d3d;
}

.bar-color .title {
    color: #fff; }

.bar-color .button {
    color: #fff; 
}

.bar-color .black_button {
    color: #000; 
}


#login input[type="text"], input[type="password"]{
    font-size: 20px;
}

#androidSelect select {
background-color:white; 
border:1px solid;
border-image:initial;
box-sizing:border-box; 
color:black; 
cursor:default;
white-space:pre;
-webkit-appearance:menulist; 
-webkit-box-align:center; 
-webkit-rtl-ordering: logical;
appearance:menulist;
box-align:center; 
rtl-ordering: logical;
}


.menu-animated {
  -webkit-transition: -webkit-transform 100ms ease-in;
  -moz-transition: -moz-transform 100ms ease-in;
  transition: transform 100ms ease-in; 
}

.jelly-form{
  position: relative;
  width: 100%;
}
.jelly-form input[type="text"]{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #0099CC;
  
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  
  font-size: 1.4em;
  padding: 0.6em 0.6em;
  width: 100%;
}
.jelly-form:before, .jelly-form:after{
  content:'';
  display: block;
  
  position: absolute;
  bottom: 2px;
  
  height: 6px;
  border-left: 2px solid #0099CC;
}
.jelly-form:before{
  left: 0;
}
.jelly-form:after{
  right: 0;
}