/* 

-------------------------------
line-height :-
Comman : 22px;

Form Height :45px;
Details Page Line Height: 26px;

Input Height :-
Login : 40px
Form : 37px;

-------------------------------
Fonts:- 

Comman :-
Labels                == OpenSans Light, #222  (Dark Grey)

input                 == Roboto Light  #000 (Black)


Menu :-
Labels: OpenSans Regular, #333 Grey Light
Divider: Roboto Regular #222 Grey Dark


-------------------------------
Colors/ Swatches:-

#f2f2f2               == offwhite,
#222                  == Dark grey,
#333                  == Dark grey lighter than #222,
#33b5e5               == Blue light
#1a9bcb               == Blue Bright

rgba(81, 203, 238, 1) == Blue Bootstrap Glow (Input Focus)



*/

/*------------------------------------------------------------------*/

/* Font Family*/
@font-face { font-family: RobotoR;  src: url('Font/Roboto-Regular.ttf');}
@font-face { font-family: Roboto;  src: url('Font/Roboto-Light.ttf');}
@font-face { font-family: RobotoThin;  src: url('Font/Roboto-Thin.ttf');}
@font-face { font-family: OpenSans; src: url('Font/OpenSans-Light.ttf'); } 
@font-face { font-family: OpenSansR; src: url('Font/OpenSans-Regular.ttf'); } 
@font-face { font-family: Montserrat; src: url('Font/Montserrat-Regular.ttf'); } 
@font-face { font-family: SansProL; src: url('Font/SourceSansPro-Light.ttf'); } 
@font-face { font-family: SansProR; src: url('Font/SourceSansPro-Regular.ttf'); } 

/* Body */
/* Body */
body {
  background: #f5f5f5;
  color: #222;
  font-family: "SansProL";
  font-size: 16px;
  line-height: 22px;
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
}


/* Comman HTML Element */ 

a{
  color: #33b5e5;
  text-decoration: none;
} /*Also color of Menu Items Labels*/

a:active, a:visited{
    text-decoration: none;
}

/*Details Page Main Title*/
h2{
  font-weight: 200;
  font-size: 1.2em;
  font-family: "SansProR";
  color: #454545;
}

/*Details Page SubTitle*/
p{
 font-size: 0.9em;
 font-family: "SansProL";
 color: #454545;
 text-overflow: ellipsis;
}


/*line height for Lists*/
tr{
  line-height:23px;

}

td{
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#details td{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Input BEFORE */




#search-box input[type="search"]{
  font-size: 1em;
  color: #222;

}

/*To Left */
.pull-left {
  float: left;
}

/*To Right*/
.pull-right {
  float: right;
  text-align: right;
}

.list {
   margin-bottom:10px; 
  
}

.container{
  padding-right: 6px;
  padding-left: 2px;
}


.field { 
  position:relative; 
  font-family: "SansProL"; 
  text-transform:uppercase;
  font-weight:bold;
  display:inline-block;
   }

label { 
  position:absolute; 
  left:3px; 
  top:6px; 
  transition: all .3s linear; 
  color:#1a9bcb; 
  font-size:12px; 
  font-weight: bold;
  font-family: "SansProR";
}

input:invalid + label { top:4px; opacity:0; }
input:valid + label { opacity:1; top:0; }
input:focus { outline:none; }
input:focus + label { color:#1a9bcb; }



textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="tel"], input[type="color"] {
  display: block;
  margin-top: 0;
  padding-top: 4px;
  padding-right: 5px;
  padding-left: -2px;
  height: 40px;
  color: #454545;
  vertical-align: middle;
  font-size: 0.8em;
  line-height: 16px;
  font-family: "SansProR";
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


input[type="search"]{
  display: block;
  margin-top: 0;
  padding-top: -10px;
  padding-left: -5px;
  height: 40px;
  color: #fff;
  vertical-align: middle;
  font-size: 1em;
  line-height: 40px;
  background: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "SansProR";
}

.item-input-wrapper{
  border: 1px solid #ddd;
  background: #fff;
}

.-input{
  border-radius: 2px;
}

.item-input-inset{
  margin-top: 1px;
  background: #f5f5f5;
  height: 45px;
  padding: 0;
}

.input-label{
  font-size: 0.7em;
  color: #454545;
}

.ion-chevron-down {
    -ms-transform: scale(0.5, 0.5); /* IE 9 */
    -webkit-transform: scale(0.5, 0.5); /* Chrome, Safari, Opera */
    transform: scale(0.5, 0.5);

    color: #1a9bcb;
}

.item-divider {
  background: #f5f5f5;
  font-size: 0.8em;
  border: none; 
  color: #1a9bcb;
  font-weight: bold;
  max-height: 10px;
  margin-top: 1px;
  margin-left: -12px;
  font-family: "OpenSansR";
}

.subheader_margin_template{
  margin-top: 4px;
}

.search-box-margin{

}

.item-input-inset{
  background: #f5f5f5;
}


.item-thumbnail-left, .item-thumbnail-left .item-content {
  min-height: 50px;
  padding-left: 65px; }
  .item-thumbnail-left > img:first-child, .item-thumbnail-left .item-image, .item-thumbnail-left .item-content > img:first-child, .item-thumbnail-left .item-content .item-image {
    max-width: 50px;
    max-height: 50px;
    }

.action-sheet .button {
  color: #33b5e5;
}

.action-sheet .button.active {
  color: #1a9bcb;
}

/* Comman Custom classes */

.background_color{
  background: #f5f5f5;
}

.label_text{
  font-family: "SansProR";
  color: #222;
}

.reduced-top-margin{
  margin-top: -10px;
}

.expense-reduced-checkbox-margin{
  margin-top: -16px;
}

/* used for asterisk only*/
.small_font{
  font-size: 0.5em;
  float: left;
  color: red;
  font-family: "OpenSansR";
}

/*To provide extra padding for content*/
.subpadding{
  padding-top: 10px;
}

/*For android dropdown informs*/

.right-inner-addon {
    position: relative;
}

.right-inner-addon input {
    padding-right: 0;    
}

.right-inner-addon i {
    position: absolute;
    top: 18px;
    margin-right: -15px;
    right: 0;
    pointer-events: none;
}
/* -----------------------------------------------------------*/








/* -----------------------------------------------------------*/
/* Menu */

/* Menu Section*/

/* Menu Anchors*/
#Menu a:active, a:visited{
  color: #1a9bcb;
  text-decoration: none;
  font-size: 1.2em;
  font-family: "SansProR";
}

#Menu a {
  background: #f5f5f5; 
  color: #333;
  font-size: 1.1em;
  font-weight: bold;
  font-family: "SansProR";
}

.menu_background_color{
  max-height: 10px;
  text-align: left;
  margin-bottom: 3px;
}


#Menu .item-divider{
  background: #e5e9e9;
  margin-bottom: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-height: 30px;
  text-align: left;
  color: #1a9bcb;
  font-family: "SansProR";
}

#Menu .item-icon-left {
  vertical-align: text-bottom;
  text-align: baseline;
  color: #333;
}


.menuLabelColor{
  color: #33b5e5;
}

.MenuUsername {
  color: #222;
  font-size: 1em;
  font-family: "SansProL";
  padding-top: 20px;
}

/* -----------------------------------------------------------*/









/* -----------------------------------------------------------*/
/*Login Screen*/

#Login input[type="text"], input[type="password"]{
  height: 30px;
  margin-right: 0;
  padding: 3px 0px 3px 3px;
  color: #222;
}

.labels{
color: #1a9bcb;
}

#Login input[type=text]:focus, input[type=password]:focus{
  background: #fff;
  height: 30px;
  padding: 3px 0 3px 3px;
}

#Login .icon{
  font-size: 1.1em;
  
}

#Login a{
  color: #333;
  font-size: 0.9em;
}

#Login p{
  font-family: "SansProL";
  font-size: 0.6em;
}

#Login h2{
  font-size: 1em;
  font-family: "OpenSansR"; 
}

#Login h4{
  font-family: "OpenSans";
}




/* -----------------------------------------------------------*/




/* -----------------------------------------------------------*/
/* Details */

/*Details Page*/

/*Page Divider Labels*/
.detailsLabel{
  color: #333;
  background: #f6f6f6;
  font-family: "SansProR";
  font-weight: bold;
}

/*Details Information Title*/
.detailsTitle{
  color: #333;
  font-weight: inherit;
  font-size: 0.9em;
  font-family: "SansProR";
}

/*Details Information */
.detailsinfo{
  color: #000;
  font-family: "SansProL";
  font-size: 0.9em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*Details Page Buttons*/
.detailsButtoncolors span{
   font-family: "OpenSansR";
   color: #1a9bcb;
} /*Button Text Color*/

.detailsButtoncolors i{
   font-family: "OpenSansR";
   color: #333;
} /*Button Icon Color*/

.detailsButtoncolors .ion-ios7-arrow-right{
  color: #999;
}
/* -----------------------------------------------------------*/







/* -----------------------------------------------------------*/
/* Form */


.form-item-divider{
  font-family: "SansProR";
  color: #333;
}

/* Icon representing modal/ list*/
.modalIcon{
 position: relative;
  top: 15px;
}

/* Modal window in Form*/

.templateContent{
  
  margin-top: 20px;
}


/* -----------------------------------------------------------*/

.checkbox_border{
  border: none;
}

.checkbox{
  border: none;
}


.badge-info{
  border: 1px solid #1a9bcb;
  color: #333;
  right:0;
  font-size: 0.6em;
  margin-right: 12px;

}

.left_margin{
  margin-left: 30px;
}

.reduced_margin{
  margin-bottom: -3px;
  line-height: 22px;
}

#MessageList tr{
  line-height: 24px;
  margin-top: 5px;
  margin-bottom: -5px;
}

.caseTitle{
  color: #333;
  font-weight: inherit;
  font-size: 1.1em;
  font-family: "SansProR";
  
}

.summaryTitle{
  color: #333;
  font-weight: inherit;
  font-size: 1em;
  font-family: "SansProR";
}

.reduced_top_margin{
  margin-top: -20px;
}

.reduced_top_margin_template{
   margin-top: -6px;
}

.top_margin{
    margin-top:4px;
}

.top_margin_template{
    margin-top:60px;
}

.bottom_margin{
  margin-bottom: 5px;
}


#caseList .item{
padding-top: 5px;
padding-bottom: 5px;
}

.right_margin{
  margin-right: 20px;
  
}

.expenseReducedTopMargin{
  margin-top: -19px;
  padding-top: 2px;
}


.searchButton{
  padding: 0;
  top: -0.7em;
  font-size: 1.2em;
  text-decoration: underline;
  text-align: left;
  margin-right: 5px;
  border: 1px solid #1a9bcb;
}

.error{
  color: red;
}

 .single_footer_button{
    position: relative;
    left: 43%;
}

.single_footer_button_2{
   position: relative;
    left: 23%;
}

#timesheet .item-icon-right{
  padding-right: -20px;
}

#timesheet .item-icon-right .icon{
  padding-right: 0;
}

.Result_Message{
  font-size: 0.9em;
}

.text_overflow{

    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
}

.chevron_color{
  color: #999;
}

.iconColor{
  color: #1a9bcb;
}

.itemDetails{
  text-align: right;
  margin-right: 15px;

}

.bar-color .icon-sort-name-up{
 -ms-transform: scale(0.6, 0.6); /* IE 9 */
    -webkit-transform: scale(0.6, 0.6); /* Chrome, Safari, Opera */
    transform: scale(0.6, 0.6);
    margin-left: -4px;
}

.popup {
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1); }
}

.popup-head {
  padding: 11px 0px;

}

.popup-title {
  margin: 0;
  padding: 0;
  font-size: 1.3em;
  font-family: "SansProR";
  font-weight: bolder;
  color: #222;
}

.popup-sub-title {
  font-family: "SansProL";
  margin: 0;
  padding: 0;
  color: #222;
}

.bar-subheaderr{
  background: #f5f5f5;
  border: none;
  display: block;
  height: 45px;
  top: 55px;
}


.bar-subheaderModal{
  background: #fff;
  border: none;
  display: block;
  height: 45px;
  top: 78px;
}

.toggle .track {
  border: solid 2px #999;
  background-color: #999;
}

input:disabled{
  color: #051f28;
}

#search-box .icon-android-search{
  padding-left: 1px;
}

.item-icon-right .ion-android-dropdown{
  margin-top: 13px;
  margin-right: 0px;
  font-size: 0.8em;
  color: #1a9bac;
}


