/* 

-------------------------------
line-height 
Comman : 22px;

Input Height 

Login : 40px
Form : 30px;

-------------------------------
Font: 

Comman :-
Labels                == OpenSans Light,
input                 == Roboto Light

Menu :-
Labels: OpenSans Regular,
Divider: Roboto 


-------------------------------
Colors/ Swatches: 

#f2f2f2               == offwhite,
#222                  == Dark grey,
#333                  == Dark grey lighter than #222,
rgba(81, 203, 238, 1) == Blue Bootstrap Glow



*/

/* Font Family*/
@font-face { font-family: RobotoR;  src: url('Font/Roboto-Regular.ttf');}
@font-face { font-family: Roboto;  src: url('Font/Roboto-Light.ttf');}
@font-face { font-family: RobotoThin;  src: url('Font/Roboto-Thin.ttf');}
@font-face { font-family: OpenSans; src: url('Font/OpenSans-Light.ttf'); } 
@font-face { font-family: OpenSansR; src: url('Font/OpenSans-Regular.ttf'); } 
@font-face { font-family: Montserrat; src: url('Font/Montserrat-Regular.ttf'); } 

/* Body */
body {
  
  background: #f2f2f2;
  color: #222;
  font-family: "OpenSans";
  font-size: 18px;
  line-height: 22px;
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
}

/* Comman HTML Elements*/
a{
  color: #333;
  font-size: 0.9em;
}

p{
  font-family: "Roboto";
}

h2{
  font-size: 1.1em;
  font-family: "OpenSansR"; 
}

h4{
  font-family: "OpenSans";
}

/*line height for Lists*/
tr
{
  line-height:26px;
}

/* Input BEFORE */

input[type="text"], input[type="password"], input[type="datetime"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"],input[type="search"] {
  color: #222;
  display: block;
  font-family: "Roboto";
  font-size: 1.1em;
  height: 40px;
  vertical-align: middle;
}

/* Input AFTER*/

input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus,input[type="search"]:focus {
  color: #222;
  font-family: "Roboto";
  font-size: 1.1em;
  background: #fff;
  border: 1px solid rgba(81, 203, 238, 1);
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

/*To Left */
.pull-left {
  float: left;
}

/*TO Right*/
.pull-right {
  float: right;
  text-align: right;
}


/*Header and Footer*/


.input-label{
 font-family: "OpenSansR";
 font-size: 1.2em;
 color: #333;

}

.item {

  border: 1px solid;
  border-color: #b0b0b0;
  background-color: #f6f6f6;
  color: #333;
}

.item-divider {
  background-color: #eee;
  color: #222;
  font-family: "OpenSans";
  font-weight: bolder;
}

.action-sheet .button {
  color: #33b5e5;
}

.action-sheet .button.active {
  color: #1a9bcb;
}

/* Comman Custom classes */

.background_color{

  background: #eee;
}

.label_text{
  font-family: "OpenSans";
  color: #222;
}

.reduced-top-margin{
  margin-top: -10px;
}

/* used for asterisk only*/
.small_font{
  font-size: 0.6em;
  float: left;
  font-family: "OpenSansR";
}

/*To provide extra padding for content*/
.subpadding{
  padding-top: 10px;
}

/*For android dropdown informs*/

.right-inner-addon {
    position: relative;
}

.right-inner-addon input {
    padding-right: 2px;    
}

.right-inner-addon i {
    position: absolute;
    top: 23px;
    margin-right: -5px;
    right: 0;
    pointer-events: none;
}
/* -----------------------------------------------------------*/








/* -----------------------------------------------------------*/
/* Menu */

/* Menu Section*/

/* Menu Anchors*/
#Menu a:active, a:visited{
  color: #1a9bcb;
  text-decoration: none;
  font-size: 1.3em;
  font-family: "OpenSansR";
}

#Menu a {
  background: #fff; 
  color: #333;
  font-size: 1.2em;
  font-weight: bold;
  font-family: "OpenSansR";
}

.menu_background_color{
  max-height: 10px;
  text-align: left;
  margin-bottom: 3px;
}


#Menu .item-divider{
  background: #f6f6f6;
  margin-bottom: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-height: 30px;
  text-align: left;
  color: #333;
}

#Menu .item-icon-left {

  vertical-align: text-bottom;
  text-align: baseline;
  color: #333;
}

.menuLabelColor{
  color: #33b5e5;
}

#MenuUsername .bar-header{

  color: #222;
  font-size: 0.9em;
  font-family: "Roboto";
  padding-top: 20px;
}

/* -----------------------------------------------------------*/









/* -----------------------------------------------------------*/
/*Login Screen*/

#Login input[type="text"], input[type="password"]{
  
  
  height: 30px;
  margin-right: 0px;
  padding: 3px 0px 3px 3px;
}


#Login input[type=text]:focus, input[type=password]:focus{
 
  
  background: #fff;
  height: 30px;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
}

#Login .icon{
  font-size: 1.3em;
}

#Login p{
  font-size: 0.6em;
}

/* -----------------------------------------------------------*/




/* -----------------------------------------------------------*/
/* Details */

/*Details Page*/
#details a{
  color: #33b5e5;
  text-decoration: none;
}

#details a:active, a:visited{
  color: #1a9bcb;
  text-decoration: none;
}

/*Details Page Main Title*/
#details h2{
  font-weight: 200;
  font-size: 1.4em;
  font-family: "OpenSansR";
  color: #333;
}

/*Details Page SubTitle*/
#details p{
 font-size: 1.1em;
 font-family: "OpenSans";
 color: #333;
}


/*Page Divider Labels*/
.detailsLabel{
  color: #333;
  background: ##f6f6f6;
  font-family: "Roboto";
  font-weight: bold;
}

/*Details Information Title*/
.detailsTitle{
  color: #333;
  font-weight: inherit;
  font-size: 1.2em;
  font-family: "OpenSansR";
}

/*Details Information */
.detailsinfo{
  color: #000;
  font-family: "Roboto";
  font-size: 1.2em;
}

/*Details Page Buttons*/
.detailsButtoncolors{
   font-size: 1.1em;
  font-family: "OpenSansR"
}

/* -----------------------------------------------------------*/










/* -----------------------------------------------------------*/
/* Form */

#Form input[type="text"]{
  font-size: 1.1em;
  font-family: "Roboto";
  color: #000;
}

#Form .item-divider{
  font-family: "Roboto";
  color: #333;
}

/* Icon representing modal/ list*/
.modalIcon{
 position: relative;
  top: 15px;
}

/* Modal window in Form*/

.templateContent{
  
  margin-top: 20px;
}


/* -----------------------------------------------------------*/

