@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?46363203');
  src: url('../font/fontello.eot?46363203#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?46363203') format('woff'),
       url('../font/fontello.ttf?46363203') format('truetype'),
       url('../font/fontello.svg?46363203#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?46363203#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: lighter;
  speak: none;
  font-size: 0.8em;
 
  display: inline-block;
  text-decoration: inherit;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-ok:before { content: '\e800'; } /* '' */
.icon-sort-name-up:before { content: '\e801'; } /* '' */
.icon-unlink:before { content: '\e802'; } /* '' */
.icon-link:before { content: '\e803'; } /* '' */
.icon-tags:before { content: '\e804'; } /* '' */
.icon-tag:before { content: '\e805'; } /* '' */
.icon-bookmark:before { content: '\e806'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e807'; } /* '' */
.icon-quote-left:before { content: '\e808'; } /* '' */
.icon-quote-right:before { content: '\e809'; } /* '' */
.icon-cog-alt:before { content: '\e80a'; } /* '' */
.icon-wrench:before { content: '\e80b'; } /* '' */
.icon-angle-right:before { content: '\e80c'; } /* '' */
.icon-angle-up:before { content: '\e80d'; } /* '' */
.icon-angle-down:before { content: '\e80e'; } /* '' */
.icon-angle-left:before { content: '\e80f'; } /* '' */
.icon-arrows-cw:before { content: '\e810'; } /* '' */
.icon-globe:before { content: '\e811'; } /* '' */
.icon-scissors:before { content: '\e812'; } /* '' */
.icon-briefcase:before { content: '\e813'; } /* '' */
.icon-suitcase:before { content: '\e814'; } /* '' */
.icon-credit-card:before { content: '\e815'; } /* '' */
.icon-key:before { content: '\e816'; } /* '' */
.icon-megaphone:before { content: '\e817'; } /* '' */
.icon-floppy:before { content: '\e818'; } /* '' */
.icon-money:before { content: '\e819'; } /* '' */
.icon-euro:before { content: '\e81a'; } /* '' */
.icon-pound:before { content: '\e81b'; } /* '' */
.icon-dollar:before { content: '\e81c'; } /* '' */
.icon-rupee:before { content: '\e81d'; } /* '' */
.icon-yen:before { content: '\e81e'; } /* '' */
.icon-sort-name-down:before { content: '\e81f'; } /* '' */
.icon-bullseye:before { content: '\e820'; } /* '' */
.icon-wheelchair:before { content: '\e821'; } /* '' */
.icon-facebook:before { content: '\e822'; } /* '' */
.icon-facebook-squared:before { content: '\e823'; } /* '' */
.icon-skype:before { content: '\e824'; } /* '' */
.icon-twitter-squared:before { content: '\e825'; } /* '' */
.icon-twitter:before { content: '\e826'; } /* '' */
.icon-bag:before { content: '\e827'; } /* '' */
.icon-archive:before { content: '\e828'; } /* '' */
.icon-folder:before { content: '\e829'; } /* '' */
.icon-chat:before { content: '\e82a'; } /* '' */
.icon-trash:before { content: '\e82b'; } /* '' */